type atci_service, domain, halclientdomain, hal_allocator_client, hal_pq_client, hal_atci_client;
type atci_service_exec, file_type, exec_type, vendor_file_type;
type atci_service_socket, file_type;
type atci-audio_socket, file_type;
type meta_atci_socket, file_type;
type adb_atci_socket, file_type;
type atci_sys_prop, property_type;

init_daemon_domain(atci_service);

allow atci_service block_device:dir {search};
allow atci_service misc2_block_device:blk_file {read write open};
allow atci_service misc2_device:chr_file {read write open};
allow atci_service camera_isp_device:chr_file {ioctl read write open};
allow atci_service graphics_device:chr_file {ioctl read write open};
allow atci_service graphics_device:dir {search};
allow atci_service kd_camera_hw_device:chr_file {ioctl read write open};
allow atci_service self:capability {ipc_lock sys_nice};
allow atci_service nvram_device:chr_file {ioctl read write open};
allow atci_service camera_sysram_device:chr_file {ioctl read open};
allow atci_service camera_tsf_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service camera_rsc_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service camera_gepf_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service camera_fdvt_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service camera_wpe_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service camera_owe_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service kd_camera_flashlight_device:chr_file {ioctl read write open};
allow atci_service ccu_device:chr_file {ioctl read write open};
allow atci_service vpu_device:chr_file {ioctl read write open};
allow atci_service MTK_SMI_device:chr_file {ioctl read write open};
allow atci_service DW9714AF_device:chr_file {ioctl read write open};
allow atci_service devmap_device:chr_file {ioctl read write open};
allow atci_service sdcard_type:dir {read write create getattr setattr add_name remove_name search open};
allow atci_service sdcard_type:file {read write create getattr setattr append unlink open};
allow atci_service mediaserver:binder {call};
allow atci_service self:capability {sys_boot};
allow atci_service nvram_device:blk_file {read write open};
allow atci_service input_device:dir {read search open};
allow atci_service input_device:file {ioctl read write open};
allow atci_service input_device:chr_file {ioctl read write open};
allow atci_service MAINAF_device:chr_file {ioctl read write open};
allow atci_service MAIN2AF_device:chr_file {ioctl read write open};
allow atci_service SUBAF_device:chr_file {ioctl read write open};
allow atci_service tmpfs:lnk_file {read};
allow atci_service self:capability2 {block_suspend};
allow atci_service mnt_user_file:dir {search};
allow atci_service mnt_user_file:lnk_file {read};
allow atci_service storage_file:lnk_file {read};
allow atci_service CAM_CAL_DRV_device:chr_file {ioctl read write open};
allow atci_service property_socket:sock_file {write};
allow atci_service init:unix_stream_socket {connectto};
allow atci_service mtk_em_prop:property_service {set};
allow atci_service mtk_em_prop:file {read getattr map open};
allow atci_service vendor_shell_exec:file {read execute execute_no_trans open};
allow atci_service proc_ged:file {ioctl read write getattr lock append map open};
allow atci_service flashlight_device:chr_file {ioctl read write open};
allow atci_service factory_data_file:sock_file {write};
allow atci_service MT_pmic_adc_cali_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service CAM_CAL_DRV_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service CAM_CAL_DRV1_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service CAM_CAL_DRV2_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service fwk_sensor_hwservice:hwservice_manager {find};
allow atci_service hidl_allocator_hwservice:hwservice_manager {find};
allow atci_service hidl_memory_hwservice:hwservice_manager {find};
allow atci_service ion_device:chr_file {ioctl read open};
allow atci_service mtk_cmdq_device:chr_file {ioctl read open};
allow atci_service mtk_mdp_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service sw_sync_device:chr_file {ioctl read write getattr lock append map open};
allow atci_service mtk_hal_power:binder {call};
allow atci_service mtk_hal_power_hwservice:hwservice_manager {find};
allow atci_service sysfs_batteryinfo:dir {search};
allow atci_service sysfs_batteryinfo:file {read getattr open};
allow atci_service system_file:dir {read open};
allow atci_service camera_pipemgr_device:chr_file {ioctl read open};
allow atci_service mtkcam_prop:file {read getattr open};
allow atci_service mtk_hal_camera:binder {call};
allow atci_service debugfs_ion:dir {search};
allow atci_service sysfs_tpd_setting:file {read write getattr open};
allow atci_service sysfs_vibrator_setting:file {read write getattr open};
allow atci_service sysfs_leds_setting:file {read write getattr open};
allow atci_service proc:file {getattr};
allow atci_service vendor_toolbox_exec:file {read getattr execute execute_no_trans open};
allow atci_service hwservicemanager:binder {call transfer};
allow atci_service mnld:unix_dgram_socket {sendto};
allow atci_service gpu_device:chr_file {ioctl read write getattr open};
