type aee_core_data_file, file_type, data_file_type, core_data_file_type;
type aee_dumpsys_data_file, file_type, data_file_type, core_data_file_type;
type aee_exp_data_file, file_type, data_file_type, core_data_file_type;
type debug_mtk_aee_prop, property_type, extended_core_property_type;
type persist_aee_prop, property_type, extended_core_property_type;
type persist_mtk_aee_prop, property_type, extended_core_property_type;
type aee_exp_vendor_file, file_type, data_file_type;
type aee_dumpsys_vendor_file, file_type, data_file_type;
type aee_core_vendor_file, file_type, data_file_type;
type aee_dipdebug_vendor_file, file_type, data_file_type;
