type init_svc_aee_aedv_prop, property_type;
type aee_aedv, domain, mlstrustedsubject, halclientdomain, hal_camera_client;
type aee_aedv_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(aee_aedv);

allow aee_aedv aed_device:chr_file {ioctl read write getattr lock append map open};
allow aee_aedv expdb_device:chr_file {ioctl read write getattr lock append map open};
allow aee_aedv expdb_block_device:blk_file {ioctl read write getattr lock append map open};
allow aee_aedv bootdevice_block_device:blk_file {ioctl read write getattr lock append map open};
allow aee_aedv etb_device:chr_file {ioctl read write getattr lock append map open};
allow aee_aedv block_device:dir {search};
allow aee_aedv RT_Monitor_device:chr_file {ioctl read getattr lock map open};
allow aee_aedv aee_exp_vendor_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow aee_aedv aee_exp_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow aee_aedv aee_dumpsys_vendor_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow aee_aedv aee_dumpsys_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow aee_aedv aee_core_vendor_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow aee_aedv aee_core_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow aee_aedv vendor_tmpfs_log_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow aee_aedv vendor_tmpfs_log_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow aee_aedv domain:process {sigkill getsched getattr};
allow aee_aedv domain:lnk_file {getattr};
allow aee_aedv usermodehelper:file {ioctl read getattr lock map open};
allow aee_aedv property_socket:sock_file {write};
allow aee_aedv init:unix_stream_socket {connectto};
allow aee_aedv persist_mtk_aeev_prop:property_service {set};
allow aee_aedv persist_mtk_aeev_prop:file {read getattr map open};
allow aee_aedv persist_aeev_prop:property_service {set};
allow aee_aedv persist_aeev_prop:file {read getattr map open};
allow aee_aedv debug_mtk_aeev_prop:property_service {set};
allow aee_aedv debug_mtk_aeev_prop:file {read getattr map open};
allow aee_aedv mnt_user_file:dir {search};
allow aee_aedv mnt_user_file:lnk_file {read};
allow aee_aedv storage_file:dir {search};
allow aee_aedv storage_file:lnk_file {read};
allow aee_aedv self:capability {chown fowner fsetid net_admin sys_module sys_nice sys_resource};
allow aee_aedv dumpstate:unix_stream_socket {ioctl read write};
allow aee_aedv dumpstate:dir {search};
allow aee_aedv dumpstate:file {ioctl read getattr lock map open};
allow aee_aedv proc:file {ioctl read write getattr lock append map open};
allow aee_aedv logdr_socket:sock_file {write};
allow aee_aedv logd:unix_stream_socket {connectto};
allow aee_aedv sysfs_vibrator:file {write lock append map open};
allow aee_aedv proc_lk_env:file {ioctl read write getattr lock append map open};
allow aee_aedv domain:dir {ioctl read getattr lock search open};
allow aee_aedv domain:file {ioctl read getattr lock map open};
allow aee_aedv domain:lnk_file {ioctl read getattr lock map open};
allow aee_aedv crash_dump:dir {search};
allow aee_aedv crash_dump:file {ioctl read getattr lock map open};
allow aee_aedv vendor_file:file {execute_no_trans};
allow aee_aedv debugfs_binder:dir {read open};
allow aee_aedv debugfs_binder:file {read open};
allow aee_aedv debugfs_blockio:file {read open};
allow aee_aedv debugfs_fb:dir {search};
allow aee_aedv debugfs_fb:file {read open};
allow aee_aedv debugfs_fuseio:dir {search};
allow aee_aedv debugfs_fuseio:file {read open};
allow aee_aedv debugfs_ged:dir {search};
allow aee_aedv debugfs_ged:file {read open};
allow aee_aedv debugfs_rcu:dir {search};
allow aee_aedv debugfs_shrinker_debug:file {read open};
allow aee_aedv debugfs_wakeup_sources:file {read open};
allow aee_aedv debugfs_dmlog_debug:file {read open};
allow aee_aedv debugfs_page_owner_slim_debug:file {read open};
allow aee_aedv debugfs_ion_mm_heap:dir {search};
allow aee_aedv debugfs_ion_mm_heap:file {ioctl read getattr lock map open};
allow aee_aedv debugfs_ion_mm_heap:lnk_file {read};
allow aee_aedv debugfs_cpuhvfs:dir {search};
allow aee_aedv debugfs_cpuhvfs:file {read open};
allow aee_aedv debugfs_emi_mbw_buf:file {read open};
allow aee_aedv debugfs_vpu_device_dbg:file {read open};
allow aee_aedv proc_interrupts:file {read};
allow aee_aedv debugfs_tracing:file {ioctl read write getattr lock append map open};
allow aee_aedv kmsg_device:chr_file {read};
allow aee_aedv platform_app:dir {ioctl read getattr lock search open};
allow aee_aedv platform_app:file {ioctl read getattr lock map open};
allow aee_aedv untrusted_app:dir {getattr};
allow aee_aedv priv_app:dir {getattr};
allow aee_aedv proc_interrupts:file {ioctl read getattr lock map open};
allow aee_aedv proc_net:file {read};
allow aee_aedv proc_zoneinfo:file {read};
allow aee_aedv sysfs_leds:dir {search};
allow aee_aedv sysfs_leds:file {ioctl read getattr lock map open};
allow aee_aedv sysfs_ccci:dir {search};
allow aee_aedv sysfs_ccci:file {ioctl read getattr lock map open};
allow aee_aedv vendor_toolbox_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow aee_aedv kmsg_device:chr_file {ioctl read getattr lock map open};
allow aee_aedv kernel:system {syslog_read};
allow aee_aedv proc_meminfo:file {ioctl read getattr lock map open};
allow aee_aedv proc_net:file {ioctl read getattr lock map open};
allow aee_aedv proc_zoneinfo:file {ioctl read getattr lock map open};
allow aee_aedv rootfs:file {ioctl read getattr lock map open};
allow aee_aedv debugfs_dynamic_debug:dir {search};
allow aee_aedv debugfs_dynamic_debug:file {ioctl read getattr lock map open};
allow aee_aedv sysfs:file {ioctl read getattr lock map open};
allow aee_aedv sysfs_mrdump_lbaooo:file {write lock append map open};
allow aee_aedv hwservicemanager:binder {call transfer};
allow aee_aedv hwservicemanager_prop:file {read getattr map open};
allow aee_aedv hal_camera_hwservice:hwservice_manager {find};
allow aee_aedv mtk_hal_camera:binder {call transfer};
allow aee_aedv mtk_hal_camera:fd {use};
allow aee_aedv selinuxfs:file {ioctl read getattr lock map open};
allow aee_aedv sysfs_dt_firmware_android:dir {search};
allow aee_aedv sysfs_dt_firmware_android:file {ioctl read getattr lock map open};
allow aee_aedv kernel:system {module_request};
allow aee_aedv metadata_file:dir {search};
allow aee_aedv self:capability {linux_immutable};
allow aee_aedv userdata_block_device:blk_file {read write open};
allow aee_aedv para_block_device:blk_file {ioctl read write getattr lock append map open};
allow aee_aedv mrdump_device:blk_file {ioctl read write getattr lock append map open};
allowxperm aee_aedv aee_dumpsys_vendor_file:file ioctl {0x6601-0x6602 0x660b};
allowxperm aee_aedv aee_dumpsys_vendor_file:file ioctl {0xf50d-0xf50e};
allow aee_aedv sysfs_lowmemorykiller:dir {search};
allow aee_aedv sysfs_lowmemorykiller:file {ioctl read getattr lock map open};
allow aee_aedv sysfs_scp:dir {ioctl read getattr lock search open};
allow aee_aedv sysfs_scp:file {ioctl read getattr lock map open};
allow aee_aedv sysfs_adsp:dir {ioctl read getattr lock search open};
allow aee_aedv sysfs_adsp:file {ioctl read getattr lock map open};
allow aee_aedv self:capability {chown fowner fsetid kill sys_nice};
allow aee_aedv proc_buddyinfo:file {ioctl read getattr lock map open};
allow aee_aedv proc_cmdline:file {ioctl read getattr lock map open};
allow aee_aedv proc_slabinfo:file {ioctl read getattr lock map open};
allow aee_aedv proc_stat:file {ioctl read getattr lock map open};
allow aee_aedv proc_version:file {ioctl read getattr lock map open};
allow aee_aedv proc_vmallocinfo:file {ioctl read getattr lock map open};
allow aee_aedv proc_vmstat:file {ioctl read getattr lock map open};
allow aee_aedv proc_cpu_alignment:file {write lock append map open};
allow aee_aedv proc_gpulog:file {ioctl read getattr lock map open};
allow aee_aedv proc_chip:file {ioctl read getattr lock map open};
allow aee_aedv proc_sched_debug:file {ioctl read getattr lock map open};
allow aee_aedv proc_atf_log:dir {search};
allow aee_aedv proc_last_kmsg:file {ioctl read getattr lock map open};
allow aee_aedv sysfs_vibrator_setting:dir {search};
allow aee_aedv sysfs_vibrator_setting:file {write lock append map open};
allow aee_aedv sysfs_vibrator:dir {search};
allow aee_aedv debugfs_rcu:file {ioctl read getattr lock map open};
allow aee_aedv proc_ufs_debug:file {ioctl read write getattr lock append map open};
allow aee_aedv proc_msdc_debug:file {ioctl read getattr lock map open};
allow aee_aedv proc_pidmap:file {ioctl read getattr lock map open};
allow aee_aedv sysfs_vcore_debug:file {ioctl read getattr lock map open};
allow aee_aedv sysfs_boot_mode:file {ioctl read getattr lock map open};
allow aee_aedv proc_slabtrace:file {ioctl read getattr lock map open};
allow aee_aedv proc_cmdq_debug:file {ioctl read getattr lock map open};
allow aee_aedv vendor_default_prop:file {read getattr map open};
allow aee_aedv aee_dipdebug_vendor_file:dir {ioctl read getattr lock search open};
allow aee_aedv aee_dipdebug_vendor_file:file {ioctl read getattr lock map open};
allow aee_aedv proc_isp_p2:dir {ioctl read getattr lock search open};
allow aee_aedv proc_isp_p2:file {ioctl read getattr lock map open};
allow aee_aedv connsyslog_data_vendor_file:file {ioctl read getattr lock map open};
allow aee_aedv connsyslog_data_vendor_file:dir {ioctl read getattr lock search open};
allow aee_aedv vendor_file_type:file {ioctl read getattr lock map open};
allow aee_aedv debugfs_smi_mon:file {ioctl read getattr lock map open};
allow aee_aedv proc_isp_p2_kedump:file {ioctl read getattr lock map open};
allow aee_aedv debugfs_vpu_memory:file {ioctl read getattr lock map open};
allow aee_aedv proc_dbg_repo:file {ioctl read getattr lock map open};
allow aee_aedv proc_pl_lk:file {ioctl read getattr lock map open};
allow aee_aedv proc_aed_reboot_reason:file {ioctl read getattr lock map open};
allow aee_aedv proc_drop_caches:file {ioctl read write getattr lock append map open};
allow aee_aedv mtk_hal_camera:binder {transfer};
