type ctl_atcid-daemon-u_prop, property_type, extended_core_property_type;
type atcid, domain, halserverdomain, halclientdomain, hal_telephony_client, hal_pq_client, hal_atci, hal_atci_server;
type atcid_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(atcid);

allow atcid property_socket:sock_file {write};
allow atcid init:unix_stream_socket {connectto};
allow atcid persist_service_atci_prop:property_service {set};
allow atcid persist_service_atci_prop:file {read getattr map open};
allow atcid block_device:dir {search};
allow atcid gsmrild_socket:sock_file {write};
allow atcid hwservicemanager:binder {call transfer};
allow atcid ttyGS_device:chr_file {ioctl read write open};
allow atcid wmtWifi_device:chr_file {write open};
allow atcid misc2_block_device:blk_file {read write open};
allow atcid self:capability {sys_time};
allow atcid proc_ged:file {ioctl read write getattr lock append map open};
allow atcid meta_tst:unix_stream_socket {connectto};
allow atcid sysfs_batteryinfo:file {read open};
allow atcid tel_switch_prop:file {read getattr map open};
allow atcid vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow atcid vndservicemanager:binder {call transfer};
allow atcid mtk_atci_prop:property_service {set};
allow atcid mtk_atci_prop:file {read getattr map open};
allow atcid powerctl_prop:property_service {set};
allow atcid powerctl_prop:file {read getattr map open};
allow atcid mnt_vendor_file:dir {search};
allow atcid nvdata_file:dir {read write add_name search open};
allow atcid nvdata_file:file {read write create getattr setattr open};
allow atcid nvram_device:blk_file {read write open};
allow atcid proc_meminfo:file {read open};
allow atcid sysfs_batteryinfo:dir {search};
allow atcid sysfs_mmcblk:dir {search};
allow atcid sysfs_mmcblk:file {read open};
allow atcid rild_atci_socket:sock_file {write};
allow atcid rild:unix_stream_socket {connectto};
allow atcid rilproxy_atci_socket:sock_file {write};
allow atcid atci_service_socket:sock_file {write};
allow atcid atci_service:unix_stream_socket {connectto};
allow atcid atci-audio_socket:sock_file {write};
allow atcid audiocmdservice_atci:unix_stream_socket {connectto};
allow atcid meta_atci_socket:sock_file {write};
allow atcid adb_atci_socket:sock_file {write};
