type audiocmdservice_atci, domain, halclientdomain, hal_audio_client;
type audiocmdservice_atci_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(audiocmdservice_atci);

allow audiocmdservice_atci self:unix_stream_socket {ioctl read write create getattr setattr lock append map bind connect getopt setopt shutdown};
allow audiocmdservice_atci device:dir {write search};
allow audiocmdservice_atci block_device:dir {write search};
allow audiocmdservice_atci mnt_user_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow audiocmdservice_atci mnt_user_file:lnk_file {ioctl read write getattr lock append map open};
allow audiocmdservice_atci storage_file:lnk_file {ioctl read write getattr lock append map open};
allow audiocmdservice_atci bootdevice_block_device:blk_file {read write};
allow audiocmdservice_atci vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow audiocmdservice_atci vndservicemanager:binder {call transfer};
allow audiocmdservice_atci mtk_hal_audio:binder {call transfer};
allow audiocmdservice_atci mtk_hal_audio:fd {use};
allow audiocmdservice_atci hwservicemanager:binder {call transfer};
allow audiocmdservice_atci hwservicemanager_prop:file {read getattr map open};
allow audiocmdservice_atci kmsg_device:chr_file {write lock append map open};
allow audiocmdservice_atci mediaserver:binder {transfer};
allow audiocmdservice_atci mtk_hal_audio:binder {transfer};
