type camera_sysram_device, dev_type;
type camera_pipemgr_device, dev_type;
type camera_isp_device, dev_type;
type camera_dip_device, dev_type;
type camera_dpe_device, dev_type;
type camera_mfb_device, dev_type;
type camera_owe_device, dev_type;
type camera_rsc_device, dev_type;
type camera_tsf_device, dev_type;
type camera_wpe_device, dev_type;
type camera_fdvt_device, dev_type;
type camera_gepf_device, dev_type;

