type ccci_mdinit, domain, mtkimsapdomain;
type ccci_mdinit_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(ccci_mdinit);

allow ccci_mdinit sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow ccci_mdinit self:capability2 {block_suspend};
allow ccci_mdinit self:cap2_userns {block_suspend};
allow ccci_mdinit system_suspend_server:binder {call transfer};
allow ccci_mdinit system_suspend_server:fd {use};
allow ccci_mdinit system_suspend_hwservice:hwservice_manager {find};
allow ccci_mdinit hwservicemanager:binder {call transfer};
allow ccci_mdinit hwservicemanager_prop:file {read getattr map open};
allow ccci_mdinit hidl_manager_hwservice:hwservice_manager {find};
allow ccci_mdinit property_socket:sock_file {write};
allow ccci_mdinit init:unix_stream_socket {connectto};
allow ccci_mdinit ctl_gsm0710muxd_prop:property_service {set};
allow ccci_mdinit ctl_gsm0710muxd_prop:file {read getattr map open};
allow ccci_mdinit ctl_mdlogger_prop:property_service {set};
allow ccci_mdinit ctl_mdlogger_prop:file {read getattr map open};
allow ccci_mdinit ctl_viarild_prop:property_service {set};
allow ccci_mdinit ctl_viarild_prop:file {read getattr map open};
allow ccci_mdinit ctl_emdlogger1_prop:property_service {set};
allow ccci_mdinit ctl_emdlogger1_prop:file {read getattr map open};
allow ccci_mdinit ctl_emdlogger2_prop:property_service {set};
allow ccci_mdinit ctl_emdlogger2_prop:file {read getattr map open};
allow ccci_mdinit ctl_emdlogger3_prop:property_service {set};
allow ccci_mdinit ctl_emdlogger3_prop:file {read getattr map open};
allow ccci_mdinit ctl_dualmdlogger_prop:property_service {set};
allow ccci_mdinit ctl_dualmdlogger_prop:file {read getattr map open};
allow ccci_mdinit ctl_gsm0710muxd-s_prop:property_service {set};
allow ccci_mdinit ctl_gsm0710muxd-s_prop:file {read getattr map open};
allow ccci_mdinit ctl_gsm0710muxd-d_prop:property_service {set};
allow ccci_mdinit ctl_gsm0710muxd-d_prop:file {read getattr map open};
allow ccci_mdinit ctl_rildaemon_prop:property_service {set};
allow ccci_mdinit ctl_rildaemon_prop:file {read getattr map open};
allow ccci_mdinit ctl_ril-daemon-mtk_prop:property_service {set};
allow ccci_mdinit ctl_ril-daemon-mtk_prop:file {read getattr map open};
allow ccci_mdinit ctl_fusion_ril_mtk_prop:property_service {set};
allow ccci_mdinit ctl_fusion_ril_mtk_prop:file {read getattr map open};
allow ccci_mdinit ctl_ril-daemon-s_prop:property_service {set};
allow ccci_mdinit ctl_ril-daemon-s_prop:file {read getattr map open};
allow ccci_mdinit ctl_ril-daemon-d_prop:property_service {set};
allow ccci_mdinit ctl_ril-daemon-d_prop:file {read getattr map open};
allow ccci_mdinit ctl_ril-proxy_prop:property_service {set};
allow ccci_mdinit ctl_ril-proxy_prop:file {read getattr map open};
allow ccci_mdinit ril_active_md_prop:property_service {set};
allow ccci_mdinit ril_active_md_prop:file {read getattr map open};
allow ccci_mdinit mtk_md_prop:property_service {set};
allow ccci_mdinit mtk_md_prop:file {read getattr map open};
allow ccci_mdinit net_cdma_mdmstat:property_service {set};
allow ccci_mdinit net_cdma_mdmstat:file {read getattr map open};
allow ccci_mdinit ctl_start_prop:property_service {set};
allow ccci_mdinit ctl_start_prop:file {read getattr map open};
allow ccci_mdinit tel_switch_prop:file {read getattr map open};
allow ccci_mdinit ctl_ccci_fsd_prop:property_service {set};
allow ccci_mdinit ctl_ccci_fsd_prop:file {read getattr map open};
allow ccci_mdinit ctl_ccci2_fsd_prop:property_service {set};
allow ccci_mdinit ctl_ccci2_fsd_prop:file {read getattr map open};
allow ccci_mdinit ctl_ccci3_fsd_prop:property_service {set};
allow ccci_mdinit ctl_ccci3_fsd_prop:file {read getattr map open};
allow ccci_mdinit vendor_default_prop:file {read getattr map open};
allow ccci_mdinit init_svc_emdlogger1_prop:file {read getattr map open};
allow ccci_mdinit init_svc_aee_aedv_prop:file {read getattr map open};
allow ccci_mdinit ccci_device:chr_file {ioctl read write getattr lock append map open};
allow ccci_mdinit ccci_monitor_device:chr_file {ioctl read write getattr lock append map open};
allow ccci_mdinit nvram_data_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow ccci_mdinit nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_mdinit nvram_data_file:lnk_file {read};
allow ccci_mdinit nvdata_file:lnk_file {read};
allow ccci_mdinit nvdata_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow ccci_mdinit nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_mdinit nvram_device:chr_file {ioctl read write getattr lock append map open};
allow ccci_mdinit system_data_file:lnk_file {read};
allow ccci_mdinit protect_f_data_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow ccci_mdinit protect_f_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_mdinit protect_s_data_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow ccci_mdinit protect_s_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_mdinit nvram_device:blk_file {ioctl read write getattr lock append map open};
allow ccci_mdinit nvdata_device:blk_file {ioctl read write getattr lock append map open};
allow ccci_mdinit ril_mux_report_case_prop:property_service {set};
allow ccci_mdinit ril_mux_report_case_prop:file {read getattr map open};
allow ccci_mdinit ccci_cfg_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_mdinit ccci_cfg_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_mdinit preloader_device:chr_file {ioctl read write getattr lock append map open};
allow ccci_mdinit misc_sd_device:chr_file {ioctl read getattr lock map open};
allow ccci_mdinit sec_ro_device:chr_file {ioctl read getattr lock map open};
allow ccci_mdinit custom_file:dir {ioctl read getattr lock search open};
allow ccci_mdinit custom_file:file {ioctl read getattr lock map open};
allow ccci_mdinit mtd_device:dir {search};
allow ccci_mdinit mtd_device:chr_file {ioctl read write getattr lock append map open};
allow ccci_mdinit devmap_device:chr_file {ioctl read getattr lock map open};
allow ccci_mdinit proc_lk_env:file {ioctl read write getattr lock append map open};
allow ccci_mdinit para_block_device:blk_file {ioctl read write getattr lock append map open};
allow ccci_mdinit sysfs_ccci:dir {search};
allow ccci_mdinit sysfs_ccci:file {ioctl read write getattr lock append map open};
allow ccci_mdinit sysfs_ssw:dir {search};
allow ccci_mdinit sysfs_ssw:file {ioctl read getattr lock map open};
allow ccci_mdinit sysfs:file {ioctl read getattr lock map open};
allow ccci_mdinit sysfs_boot_mode:file {read open};
allow ccci_mdinit proc_bootprof:file {ioctl read write getattr lock append map open};
allow ccci_mdinit mnt_vendor_file:dir {search};
allow ccci_mdinit block_device:dir {search};
allow ccci_mdinit metadata_file:dir {search};
allow ccci_mdinit proc_cmdline:file {ioctl read getattr lock map open};
allow ccci_mdinit sysfs_dt_firmware_android:dir {search};
allow ccci_mdinit ctl_ccci_rpcd_prop:property_service {set};
allow ccci_mdinit ctl_ccci2_rpcd_prop:property_service {set};
