type ccci_fsd, domain;
type ccci_fsd_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(ccci_fsd);

allow ccci_fsd sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow ccci_fsd self:capability2 {block_suspend};
allow ccci_fsd self:cap2_userns {block_suspend};
allow ccci_fsd system_suspend_server:binder {call transfer};
allow ccci_fsd system_suspend_server:fd {use};
allow ccci_fsd system_suspend_hwservice:hwservice_manager {find};
allow ccci_fsd hwservicemanager:binder {call transfer};
allow ccci_fsd hwservicemanager_prop:file {read getattr map open};
allow ccci_fsd hidl_manager_hwservice:hwservice_manager {find};
allow ccci_fsd nvram_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_fsd nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_fsd nvram_data_file:lnk_file {read};
allow ccci_fsd nvdata_file:lnk_file {read};
allow ccci_fsd nvdata_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_fsd nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_fsd nvram_device:chr_file {ioctl read write getattr lock append map open};
allow ccci_fsd system_data_file:lnk_file {read};
allow ccci_fsd vendor_configs_file:file {ioctl read getattr lock map open};
allow ccci_fsd vendor_configs_file:dir {ioctl read getattr lock search open};
allow ccci_fsd ccci_device:chr_file {ioctl read write getattr lock append map open};
allow ccci_fsd ccci_cfg_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_fsd ccci_cfg_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_fsd protect_f_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_fsd protect_f_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_fsd protect_s_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_fsd protect_s_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_fsd c2k_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_fsd c2k_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_fsd otp_part_block_device:blk_file {ioctl read write getattr lock append map open};
allow ccci_fsd otp_device:chr_file {ioctl read write getattr lock append map open};
allow ccci_fsd sysfs:file {ioctl read getattr lock map open};
allow ccci_fsd sysfs_boot_type:file {read open};
allow ccci_fsd block_device:dir {search};
allow ccci_fsd nvram_device:blk_file {ioctl read write getattr lock append map open};
allow ccci_fsd nvdata_device:blk_file {ioctl read write getattr lock append map open};
allow ccci_fsd rawfs:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_fsd rawfs:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_fsd sysfs_ccci:dir {search};
allow ccci_fsd sysfs_ccci:file {ioctl read getattr lock map open};
allow ccci_fsd mnt_vendor_file:dir {search};
allow ccci_fsd kmsg_device:chr_file {write lock append map open};
allow ccci_fsd proc_lk_env:file {ioctl read write getattr lock append map open};
allow ccci_fsd ccci_data_md1_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow ccci_fsd ccci_data_md1_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow ccci_fsd sysfs_mmcblk:dir {search};
allow ccci_fsd sysfs_mmcblk:file {read getattr open};

