type debugfs_binder, fs_type, debugfs_type;
type debugfs_blockio, fs_type, debugfs_type;
type debugfs_cpuhvfs, fs_type, debugfs_type;
type debugfs_dmlog_debug, fs_type, debugfs_type;
type debugfs_emi_mbw_buf, fs_type, debugfs_type;
type debugfs_fb, fs_type, debugfs_type;
type debugfs_fuseio, fs_type, debugfs_type;
type debugfs_ged, fs_type, debugfs_type;
type debugfs_ion, fs_type, debugfs_type;
type debugfs_ion_mm_heap, fs_type, debugfs_type;
type debugfs_page_owner_slim_debug, fs_type, debugfs_type;
type debugfs_rcu, fs_type, debugfs_type;
type debugfs_shrinker_debug, fs_type, debugfs_type;
type debugfs_vpu_power, fs_type, debugfs_type;
type debugfs_vpu_memory, fs_type, debugfs_type;
type debugfs_vpu_device_dbg, fs_type, debugfs_type;
type debugfs_dynamic_debug, fs_type, debugfs_type;
type debugfs_smi_mon, fs_type, debugfs_type;
type debugfs_fpsgo, fs_type, debugfs_type;
type debugfs_usb, fs_type, debugfs_type;
type debugfs_mdla_power, fs_type, debugfs_type;
type debugfs_eara_thermal, fs_type, debugfs_type;

