type emdlogger, domain, binderservicedomain, coredomain;
type emdlogger_exec, file_type, exec_type, system_file_type;
type ctl_emdlogger1_prop, property_type;
type init_svc_emdlogger1_prop, property_type;
type ctl_emdlogger2_prop, property_type;
type ctl_emdlogger3_prop, property_type;

init_daemon_domain(emdlogger);

allow emdlogger servicemanager:binder {call transfer};
allow emdlogger sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow emdlogger sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow emdlogger platform_app:unix_stream_socket {connectto};
allow emdlogger shell_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow emdlogger system_file:file {execute_no_trans};
allow emdlogger zygote_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow emdlogger vfat:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow emdlogger vfat:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow emdlogger mnt_user_file:dir {search};
allow emdlogger mnt_user_file:lnk_file {read};
allow emdlogger storage_file:lnk_file {read};
allow emdlogger mnt_media_rw_file:dir {search};
allow emdlogger rootfs:file {ioctl read getattr lock map open};
allow emdlogger storage_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow emdlogger tmpfs:lnk_file {read};
allow emdlogger storage_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow emdlogger system_file:dir {read};
allow emdlogger toolbox_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow emdlogger media_rw_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow emdlogger media_rw_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow emdlogger proc_cmdline:file {read getattr open};
allow emdlogger sysfs_dt_firmware_android:dir {read search open};
allow emdlogger tmpfs:dir {write};
allow emdlogger sysfs_dt_firmware_android:file {read getattr open};
allow emdlogger system_file:dir {open};
allow emdlogger vendor_default_prop:file {read getattr open};
allow emdlogger mddb_filter_data_file:dir {ioctl read getattr lock search open};
allow emdlogger mddb_filter_data_file:file {ioctl read getattr lock map open};
allow emdlogger debuglog_data_file:dir {ioctl read write create getattr setattr lock relabelto rename add_name remove_name reparent search rmdir open};
allow emdlogger debuglog_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow emdlogger system_prop:file {read getattr map open};
allow emdlogger ccci_device:chr_file {ioctl read write getattr lock append map open};
allow emdlogger eemcs_device:chr_file {ioctl read write getattr lock append map open};
allow emdlogger ttySDIO_device:chr_file {ioctl read write getattr lock append map open};
allow emdlogger vmodem_device:chr_file {ioctl read write getattr lock append map open};
allow emdlogger ttyGS_device:chr_file {ioctl read write getattr lock append map open};
allow emdlogger mdlog_data_file:dir {ioctl read write create getattr setattr lock relabelto rename add_name remove_name reparent search rmdir open};
allow emdlogger mdlog_data_file:fifo_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow emdlogger mdlog_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow emdlogger mdlog_device:chr_file {ioctl read write getattr lock append map open};
allow emdlogger sysfs_boot_mode:file {read open};
allow emdlogger sysfs_ccci:dir {search};
allow emdlogger sysfs_ccci:file {ioctl read getattr lock map open};
allow emdlogger sysfs_mdinfo:file {ioctl read getattr lock map open};
allow emdlogger sysfs_mdinfo:dir {search};
allow emdlogger aee_aed:unix_stream_socket {connectto};
allow emdlogger para_block_device:blk_file {read write open};
allow emdlogger proc_lk_env:file {ioctl read write open};
allow emdlogger block_device:dir {search};
allow emdlogger md_block_device:blk_file {read open};
allow emdlogger self:capability {chown};
allow emdlogger meta_connecttype_prop:file {read getattr map open};
allow emdlogger port:tcp_socket {name_bind name_connect};
allow emdlogger emdlogger:tcp_socket {create bind connect setopt};
allow emdlogger emdlogger:tcp_socket {read write bind listen accept setopt};
allow emdlogger node:tcp_socket {node_bind};
allow emdlogger property_socket:sock_file {write};
allow emdlogger init:unix_stream_socket {connectto};
allow emdlogger persist_mtklog_prop:property_service {set};
allow emdlogger persist_mtklog_prop:file {read getattr map open};
allow emdlogger vendor_mdl_prop:property_service {set};
allow emdlogger vendor_mdl_prop:file {read getattr map open};
allow emdlogger vendor_mdl_start_prop:property_service {set};
allow emdlogger vendor_mdl_start_prop:file {read getattr map open};
allow emdlogger debug_mdlogger_prop:property_service {set};
allow emdlogger debug_mdlogger_prop:file {read getattr map open};
allow emdlogger vendor_usb_prop:file {read getattr map open};
allow emdlogger persist_mdlog_prop:property_service {set};
allow emdlogger persist_mdlog_prop:file {read getattr map open};
allow emdlogger vendor_mdl_pulllog_prop:property_service {set};
allow emdlogger vendor_mdl_pulllog_prop:file {read getattr map open};
allow emdlogger exported_system_radio_prop:property_service {set};
allow emdlogger exported_system_radio_prop:file {read getattr map open};
allow emdlogger debug_prop:property_service {set};
allow emdlogger debug_prop:file {read getattr map open};
allow emdlogger system_radio_prop:property_service {set};
allow emdlogger system_radio_prop:file {read getattr map open};
allow emdlogger vendor_configs_file:file {map};
allow emdlogger vendor_default_prop:file {map};
allow emdlogger kernel:system {syslog_read};
allow emdlogger logcat_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow emdlogger logdr_socket:sock_file {write};
allow emdlogger file_contexts_file:file {read getattr open};
