type factory, domain, halclientdomain, hal_light_client, hal_nfc_client;
type factory_exec, file_type, exec_type, vendor_file_type;
type factory_data_file, file_type, data_file_type, core_data_file_type;
type vendor_factory_idle_state_prop, property_type, mtk_core_property_type;

init_daemon_domain(factory);

allow factory MTK_SMI_device:chr_file {ioctl read getattr lock map open};
allow factory ashmem_device:chr_file {execute};
allow factory ebc_device:chr_file {ioctl read write getattr lock append map open};
allow factory stpbt_device:chr_file {ioctl read write getattr lock append map open};
allow factory eemcs_device:chr_file {ioctl read write getattr lock append map open};
allow factory ccci_device:chr_file {ioctl read write getattr lock append map open};
allow factory gsm0710muxd_device:chr_file {ioctl read write getattr lock append map open};
allow factory debugfs_usb:file {ioctl read write getattr lock append map open};
allow factory debugfs_usb:dir {search};
allow factory devpts:chr_file {ioctl read write getattr lock append map open};
allow factory vfat:dir {write lock add_name remove_name search open};
allow factory labeledfs:filesystem {unmount};
allow factory rootfs:dir {mounton};
allow factory vfat:dir {read mounton search open};
allow factory vfat:filesystem {mount unmount};
allow factory ttySDIO_device:chr_file {ioctl read write getattr lock append map open};
allow factory ttyMT_device:chr_file {ioctl read write getattr lock append map open};
allow factory ttyS_device:chr_file {ioctl read write getattr lock append map open};
allow factory ttyGS_device:chr_file {ioctl read write getattr lock append map open};
allow factory usb_device:chr_file {ioctl read write getattr lock append map open};
allow factory usb_device:dir {ioctl read getattr lock search open};
allow factory sdcard_type:dir {mounton};
allow factory vmodem_device:chr_file {ioctl read write getattr lock append map open};
allow factory mtd_device:dir {search};
allow factory mtd_device:chr_file {ioctl read write getattr lock append map open};
allow factory self:capability {sys_resource};
allow factory pro_info_device:chr_file {ioctl read write getattr lock append map open};
allow factory proc_mrdump_rst:file {write lock append map open};
allow factory sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow factory self:capability2 {block_suspend};
allow factory self:cap2_userns {block_suspend};
allow factory system_suspend_server:binder {call transfer};
allow factory system_suspend_server:fd {use};
allow factory system_suspend_hwservice:hwservice_manager {find};
allow factory hwservicemanager:binder {call transfer};
allow factory hwservicemanager_prop:file {read getattr map open};
allow factory hidl_manager_hwservice:hwservice_manager {find};
allow factory storage_file:dir {write create mounton add_name search};
allow factory vendor_factory_idle_state_prop:property_service {set};
allow factory agpsd_data_file:dir {search};
allow factory gps_data_file:dir {write unlink add_name remove_name search};
allow factory gps_data_file:file {read write create getattr setattr lock append unlink open};
allow factory gps_data_file:lnk_file {read};
allow factory storage_file:lnk_file {ioctl read getattr lock map open};
allow factory devmap_device:chr_file {ioctl read getattr lock map open};
allow factory sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow factory sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow factory mnt_user_file:dir {search};
allow factory mnt_user_file:lnk_file {read};
allow factory storage_file:lnk_file {read};
allow factory factory:capability {chown};
allow factory nvram_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow factory nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow factory nvram_data_file:lnk_file {ioctl read getattr lock map open};
allow factory nvdata_file:lnk_file {ioctl read getattr lock map open};
allow factory nvram_device:chr_file {ioctl read write getattr lock append map open};
allow factory nvram_device:blk_file {ioctl read write getattr lock append map open};
allow factory nvdata_device:blk_file {ioctl read write getattr lock append map open};
allow factory als_ps_device:chr_file {ioctl read getattr lock map open};
allow factory barometer_device:chr_file {ioctl read getattr lock map open};
allow factory gsensor_device:chr_file {ioctl read getattr lock map open};
allow factory gyroscope_device:chr_file {ioctl read getattr lock map open};
allow factory msensor_device:chr_file {ioctl read getattr lock map open};
allow factory biometric_device:chr_file {ioctl read getattr lock map open};
allow factory kd_camera_flashlight_device:chr_file {ioctl read write getattr lock append map open};
allow factory kd_camera_hw_device:chr_file {ioctl read write getattr lock append map open};
allow factory seninf_device:chr_file {ioctl read write getattr lock append map open};
allow factory CAM_CAL_DRV_device:chr_file {ioctl read write getattr lock append map open};
allow factory powerctl_prop:property_service {set};
allow factory misc_sd_device:chr_file {ioctl read getattr lock map open};
allow factory mmcblk1_block_device:blk_file {ioctl read write getattr lock append map open};
allow factory bootdevice_block_device:blk_file {ioctl read write getattr lock append map open};
allow factory mmcblk1p1_block_device:blk_file {ioctl read write getattr lock append map open};
allow factory block_device:dir {write lock add_name remove_name search open};
allowxperm factory mmcblk1_block_device:blk_file ioctl {0x1260};
allowxperm factory bootdevice_block_device:blk_file ioctl {0x1260};
allow factory nvdata_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow factory nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow factory hrm_device:chr_file {ioctl read getattr lock map open};
allow factory irtx_device:chr_file {ioctl read write getattr lock append map open};
allow factory pmic_ftm_device:chr_file {ioctl read write getattr lock append map open};
allow factory MT_pmic_adc_cali_device:chr_file {ioctl read write getattr lock append map open};
allow factory MT_pmic_cali_device:chr_file {ioctl read getattr lock map open};
allow factory charger_ftm_device:chr_file {ioctl read getattr lock map open};
allow factory graphics_device:dir {write lock add_name remove_name search open};
allow factory graphics_device:chr_file {ioctl read write getattr lock append map open};
allow factory wmtWifi_device:chr_file {ioctl read write getattr lock append map open};
allow factory rtc_device:chr_file {ioctl read write getattr lock append map open};
allow factory mt6605_device:chr_file {ioctl read write getattr lock append map execute execute_no_trans open};
allow factory mnld_device:chr_file {ioctl read write getattr lock append map open};
allow factory mnld_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow factory mtk_kpd_device:chr_file {ioctl read getattr lock map open};
allow factory humidity_device:chr_file {ioctl read getattr lock map open};
allow factory camera_isp_device:chr_file {ioctl read write getattr lock append map open};
allow factory camera_dip_device:chr_file {ioctl read write getattr lock append map open};
allow factory camera_pipemgr_device:chr_file {ioctl read getattr lock map open};
allow factory camera_sysram_device:chr_file {ioctl read getattr lock map open};
allow factory ccu_device:chr_file {ioctl read write getattr lock append map open};
allow factory vpu_device:chr_file {ioctl read write getattr lock append map open};
allow factory MAINAF_device:chr_file {ioctl read write getattr lock append map open};
allow factory MAIN2AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory MAIN3AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory SUBAF_device:chr_file {ioctl read write getattr lock append map open};
allow factory FM50AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory AD5820AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory DW9714AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory DW9714A_device:chr_file {ioctl read write getattr lock append map open};
allow factory LC898122AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory LC898212AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory BU6429AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory DW9718AF_device:chr_file {ioctl read write getattr lock append map open};
allow factory BU64745GWZAF_device:chr_file {ioctl read write getattr lock append map open};
allow factory cct_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow factory cct_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow factory camera_tsf_device:chr_file {ioctl read write getattr lock append map open};
allow factory camera_rsc_device:chr_file {ioctl read write getattr lock append map open};
allow factory camera_gepf_device:chr_file {ioctl read write getattr lock append map open};
allow factory camera_fdvt_device:chr_file {ioctl read write getattr lock append map open};
allow factory camera_wpe_device:chr_file {ioctl read write getattr lock append map open};
allow factory camera_owe_device:chr_file {ioctl read write getattr lock append map open};
allow factory camera_mfb_device:chr_file {ioctl read write getattr lock append map open};
allow factory mtk_hal_power_hwservice:hwservice_manager {find};
allow factory vendor_data_file:file {getattr};
allow factory mtk_hal_power:binder {call};
allow factory mediatek_prop:file {read getattr map open};
allow factory accdet_device:chr_file {ioctl read getattr lock map open};
allow factory fm_device:chr_file {ioctl read write getattr lock append map open};
allow factory audio_device:chr_file {ioctl read write getattr lock append map open};
allow factory audio_device:dir {write lock add_name remove_name search open};
allow factory audiohal_prop:property_service {set};
allow factory audio_ipi_device:chr_file {ioctl read write open};
allow factory audio_scp_device:chr_file {ioctl read getattr lock map open};
allow factory input_device:chr_file {ioctl read getattr lock map open};
allow factory input_device:dir {ioctl read write getattr lock add_name remove_name search open};
allow factory sysfs_ccci:dir {search};
allow factory sysfs_ccci:file {ioctl read getattr lock map open};
allow factory sysfs_boot_mode:file {read open};
allow factory sysfs_boot_type:file {read open};
allow factory mnld_prop:property_service {set};
allow factory sdcard_type:filesystem {unmount};
allow factory ctl_default_prop:property_service {set};
allow factory flashlight_device:chr_file {ioctl read write getattr lock append map open};
allow factory ctl_emdlogger1_prop:property_service {set};
allow factory tmpfs:filesystem {unmount};
allow factory sysfs:dir {read open};
allow factory sysfs_leds:dir {search};
allow factory sysfs_leds:lnk_file {read};
allow factory sysfs_leds:file {ioctl read write getattr lock append map open};
allow factory sysfs_leds:dir {ioctl read getattr lock search open};
allow factory sysfs_power:file {ioctl read write getattr lock append map open};
allow factory sysfs_power:dir {ioctl read getattr lock search open};
allow factory sysfs_vibrator:file {read write open};
allow factory ion_device:chr_file {ioctl read open};
allow factory debugfs_ion:dir {search};
allow factory st21nfc_device:chr_file {ioctl read write getattr open};
allow factory property_socket:sock_file {write};
allow factory init:unix_stream_socket {connectto};
allow factory hwservicemanager_prop:property_service {set};
allow factory mtk_cmdq_device:chr_file {ioctl read open};
allow factory mtk_mdp_device:chr_file {ioctl read write getattr lock append map open};
allow factory sw_sync_device:chr_file {ioctl read write getattr lock append map open};
allow factory ctl_ccci_fsd_prop:property_service {set};
allow factory ctl_ccci_fsd_prop:file {read getattr map open};
allow factory sysfs_therm:dir {search};
allow factory sysfs_therm:file {read write open};
allow factory sysfs_comport_type:file {ioctl read write getattr lock append map open};
allow factory sysfs_uart_info:file {ioctl read write getattr lock append map open};
allow factory kernel:system {module_request};
allow factory node:tcp_socket {node_bind};
allow factory userdata_block_device:blk_file {ioctl read write getattr lock append map open};
allow factory port:tcp_socket {name_bind name_connect};
allow factory self:capability {fsetid net_admin net_raw ipc_lock sys_module sys_admin sys_boot sys_nice sys_time};
allow factory sdcard_type:dir {ioctl read getattr lock search open};
allow factory self:netlink_route_socket {read write create getattr bind nlmsg_read nlmsg_write};
allow factory proc_net:file {read getattr open};
allowxperm factory self:udp_socket ioctl {0x6900 0x6902};
allowxperm factory self:udp_socket ioctl {0x890b-0x890d 0x8911 0x8914 0x8916 0x8918 0x891a 0x891c-0x8920 0x8922-0x8927 0x8929 0x8930-0x8932 0x8934-0x8937 0x8939 0x8940-0x8941 0x8943 0x8946-0x894b 0x8953-0x8955 0x8960-0x8962 0x8970-0x8971 0x8980-0x8983 0x8990-0x8995 0x89a0-0x89a3 0x89b0 0x89e0-0x89ff};
allowxperm factory self:udp_socket ioctl {0x8b00 0x8b02 0x8b04 0x8b06 0x8b08 0x8b0a 0x8b0c 0x8b0e 0x8b10 0x8b14-0x8b1d 0x8b20 0x8b22 0x8b24 0x8b26 0x8b28 0x8b2a-0x8b2c 0x8b30-0x8b36 0x8be0-0x8bff};
allowxperm factory self:udp_socket ioctl {0x8913};
allowxperm factory self:udp_socket ioctl {0x8b03};
allow factory self:process {execmem};
allow factory self:tcp_socket {ioctl read write create getattr setattr lock append map bind connect listen accept getopt setopt shutdown};
allow factory self:udp_socket {ioctl read write create getattr setattr lock append map bind connect getopt setopt shutdown};
allow factory hal_light_hwservice:hwservice_manager {find};
allow factory mtk_hal_light:binder {call};
allow factory merged_hal_service:binder {call};
allow factory sysfs_vibrator:file {ioctl read write getattr lock append map open};
allow factory sysfs_vibrator:dir {search};
allow factory proc_asound:dir {read search open};
allow factory proc_asound:file {read write getattr open};
allow factory sysfs:file {read open};
allow factory sysfs_headset:file {read open};
allow factory sysfs_tpd_setting:dir {search};
allow factory sysfs_tpd_setting:file {read getattr open};
allow factory vendor_shell_exec:file {read execute execute_no_trans open};
allow factory vendor_toolbox_exec:file {execute_no_trans};
allow factory proc_cmdline:file {read getattr open};
allow factory factory:capability {sys_admin sys_boot};
allow factory sysfs_dt_firmware_android:file {read getattr open};
allow factory sysfs_dt_firmware_android:dir {read search open};
allow factory factory:capability {net_admin net_raw sys_module};
allow factory sysfs_batteryinfo:dir {ioctl read getattr lock search open};
allow factory sysfs_batteryinfo:file {ioctl read getattr lock map open};
allow factory sysfs_batteryinfo:lnk_file {ioctl read getattr lock map open};
allow factory sysfs_switch:dir {ioctl read getattr lock search open};
allow factory sysfs_switch:file {ioctl read getattr lock map open};
allow factory sysfs_switch:lnk_file {ioctl read getattr lock map open};
allow factory vendor_data_file:dir {read write add_name};
allow factory vendor_data_file:file {read write create open};
allow factory sysfs_mmcblk:dir {search};
allow factory sysfs_mmcblk:file {read getattr open};
allow factory vendor_file:file {execute_no_trans};
allow factory mtk_audiohal_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow factory mtk_audiohal_data_file:file {ioctl read write create getattr lock map unlink open};
allow factory proc_version:file {read getattr open};
allow factory adsp_device:chr_file {ioctl read write getattr lock append map open};
allow factory vendor_nfc_socket:dir {write add_name remove_name search};
allow factory vendor_nfc_socket:sock_file {write create setattr unlink};
allow factory exported3_radio_prop:file {read getattr map open};
allow factory ctl_mdlogger_prop:property_service {set};
allow factory ctl_mdlogger_prop:file {read getattr map open};
allow factory sysfs_rt_param:file {ioctl read write getattr lock append map open};
allow factory sysfs_rt_calib:file {ioctl read write getattr lock append map open};
allow factory sysfs_rt_param:dir {ioctl read getattr lock search open};
allow factory sysfs_rt_calib:dir {ioctl read getattr lock search open};
allow factory kmsg_device:chr_file {write open};
allow factory proc:file {getattr};
allow factory dm_device:blk_file {ioctl read write getattr open};
allow factory sysfs_fs_ext4_features:dir {search};
allow factory sysfs_fs_ext4_features:file {read};
allow factory system_block_device:blk_file {getattr};
allow factory vendor_block_device:blk_file {getattr};
allow factory cache_block_device:blk_file {getattr};
allow factory protect1_block_device:blk_file {getattr};
allow factory protect2_block_device:blk_file {getattr};
allow factory mtk_hal_audio:binder {call transfer};
allow factory mtk_hal_audio:fd {use};
allow factory mtk_hal_audio:binder {call};
allow factory mtk_audiohal_data_file:dir {read search open};
allow factory proc:file {read open};
allow factory sysfs_android_usb:dir {search};
allow factory sysfs_android_usb:file {ioctl read getattr lock map open};
allow factory fingerprint_device:chr_file {ioctl read write getattr lock append map open};
allow factory self:netlink_kobject_uevent_socket {read create bind setopt};
allow factory teei_fp_device:chr_file {ioctl read write open};
allow factory tkcore_admin_device:chr_file {ioctl read write open};
allow factory tmpfs:chr_file {ioctl read write getattr lock append map open};
allow factory self:netlink_socket {read write create getattr setattr lock append map bind connect getopt setopt shutdown};
