type fuelgauged, domain;
type fuelgauged_exec, file_type, exec_type, vendor_file_type;
type fuelgauged_file, file_type, data_file_type;

init_daemon_domain(fuelgauged);

allow fuelgauged input_device:dir {ioctl read write getattr lock add_name remove_name search open};
allow fuelgauged input_device:file {ioctl read getattr lock map open};
allow fuelgauged mtk-adc-cali_device:chr_file {ioctl read write getattr lock append map open};
allow fuelgauged kmsg_device:chr_file {write lock append map open};
allow fuelgauged self:netlink_socket {create};
allow fuelgauged self:netlink_socket {read write create getattr setattr lock append map bind connect getopt setopt shutdown};
allow fuelgauged self:netlink_route_socket {read write create getattr bind nlmsg_read nlmsg_write};
allow fuelgauged self:capability {chown fsetid};
allow fuelgauged kernel:system {module_request};
allow fuelgauged nvcfg_file:dir {read write create getattr add_name search open};
allow fuelgauged nvcfg_file:file {read write create getattr open};
allow fuelgauged sysfs_batteryinfo:dir {ioctl read getattr lock search open};
allow fuelgauged sysfs_batteryinfo:file {ioctl read getattr lock map open};
allow fuelgauged sysfs_batteryinfo:lnk_file {ioctl read getattr lock map open};
allow fuelgauged mnt_vendor_file:dir {search};
