type gsm0710muxd_device, dev_type;
type gsm0710muxd, domain;
type gsm0710muxd_exec, file_type, exec_type, vendor_file_type;
type ctl_gsm0710muxd_prop, property_type;
type ctl_gsm0710muxd-s_prop, property_type;
type ctl_gsm0710muxd-d_prop, property_type;
type gsm0710muxd_prop, property_type, mtk_core_property_type;

init_daemon_domain(gsm0710muxd);

allow gsm0710muxd self:capability {chown fowner setuid};
allow gsm0710muxd property_socket:sock_file {write};
allow gsm0710muxd init:unix_stream_socket {connectto};
allow gsm0710muxd ctl_rildaemon_prop:property_service {set};
allow gsm0710muxd ctl_rildaemon_prop:file {read getattr map open};
allow gsm0710muxd ctl_ril-daemon-mtk_prop:property_service {set};
allow gsm0710muxd ctl_ril-daemon-mtk_prop:file {read getattr map open};
allow gsm0710muxd ctl_fusion_ril_mtk_prop:property_service {set};
allow gsm0710muxd ctl_fusion_ril_mtk_prop:file {read getattr map open};
allow gsm0710muxd gsm0710muxd_prop:property_service {set};
allow gsm0710muxd gsm0710muxd_prop:file {read getattr map open};
allow gsm0710muxd vendor_radio_prop:property_service {set};
allow gsm0710muxd vendor_radio_prop:file {read getattr map open};
allow gsm0710muxd ril_mux_report_case_prop:property_service {set};
allow gsm0710muxd ril_mux_report_case_prop:file {read getattr map open};
allow gsm0710muxd gsm0710muxd_device:chr_file {ioctl read write getattr lock append map open};
allow gsm0710muxd device:dir {ioctl read write getattr lock add_name remove_name search open};
allow gsm0710muxd device:lnk_file {create unlink};
allow gsm0710muxd devpts:chr_file {setattr};
allow gsm0710muxd eemcs_device:chr_file {ioctl read write getattr lock append map open};
allow gsm0710muxd sysfs:file {ioctl read getattr lock map open};
allow gsm0710muxd sysfs_ccci:dir {search};
allow gsm0710muxd sysfs_ccci:file {ioctl read getattr lock map open};
