allow hal_nvramagent_client hal_nvramagent_server:binder {call transfer};
allow hal_nvramagent_server hal_nvramagent_client:binder {transfer};
allow hal_nvramagent_client hal_nvramagent_server:fd {use};
allow hal_nvramagent_client nvram_agent_binder_hwservice:hwservice_manager {find};
allow hal_nvramagent_server nvram_agent_binder_hwservice:hwservice_manager {add find};
allow hal_nvramagent_server hidl_base_hwservice:hwservice_manager {add};
