type hal_atci_hwservice, hwservice_manager_type;

allow hal_atci_server hal_atci_hwservice:hwservice_manager {add find};
allow hal_atci_server hidl_base_hwservice:hwservice_manager {add};
allow hal_atci_client hal_atci_server:binder {call transfer};
allow hal_atci_server hal_atci_client:binder {transfer};
allow hal_atci_client hal_atci_server:fd {use};
allow hal_atci_server hal_atci_client:binder {call transfer};
allow hal_atci_client hal_atci_server:binder {transfer};
allow hal_atci_server hal_atci_client:fd {use};
allow hal_atci_client hal_atci_hwservice:hwservice_manager {find};
