type hal_agolddaemon, domain, mlstrustedsubject;
type hal_agolddaemon_exec, file_type, exec_type, vendor_file_type;
type hal_agolddaemon_hwservice, hwservice_manager_type;

init_daemon_domain(hal_agolddaemon);

allow hal_agolddaemon cameraserver:binder {transfer};
allow hal_agolddaemon hal_agolddaemon_hwservice:hwservice_manager {add find};
allow hal_agolddaemon hidl_base_hwservice:hwservice_manager {add};
allow hal_agolddaemon hwservicemanager:binder {call transfer};
allow hal_agolddaemon system_server:binder {call transfer};
allow hal_agolddaemon system_server:fd {use};
allow hal_agolddaemon system_server:binder {transfer};
allow hal_agolddaemon als_ps_device:chr_file {ioctl read write open};
allow hal_agolddaemon block_device:dir {search};
allow hal_agolddaemon gsensor_device:chr_file {ioctl read write open};
allow hal_agolddaemon gyroscope_device:chr_file {ioctl read write open};
allow hal_agolddaemon hwservicemanager_prop:file {read getattr map open};
allow hal_agolddaemon mnt_vendor_file:dir {search};
allow hal_agolddaemon nvdata_file:dir {read write add_name search open};
allow hal_agolddaemon nvdata_file:file {read write create getattr setattr open};
allow hal_agolddaemon nvram_agent_binder:binder {call};
allow hal_agolddaemon nvram_agent_binder_hwservice:hwservice_manager {find};
allow hal_agolddaemon nvram_device:blk_file {read write open};
allow hal_agolddaemon self:netlink_kobject_uevent_socket {read create bind};
allow hal_agolddaemon smartpa1_device:chr_file {ioctl read write open};
allow hal_agolddaemon sysfs_boot_mode:file {read write open};
allow hal_agolddaemon sysfs:dir {read getattr open};
allow hal_agolddaemon sysfs:file {read write getattr open};
allow hal_agolddaemon tkcore_admin_device:chr_file {ioctl read write open};
allow hal_agolddaemon mtk_hal_camera:binder {transfer};
