# type mediacodec_service, service_manager_type;
# type mediacodec, domain, mlstrustedsubject, halserverdomain, halclientdomain, hal_allocator_client, hal_codec2, hal_codec2_client, hal_codec2_server, hal_graphics_allocator_client, hal_omx, hal_omx_client, hal_omx_server, hal_pq_client, hal_mtkcodecservice_client, hal_capi_client;
# type mediacodec_exec, file_type, exec_type, vendor_file_type;
type mediacodec_data_file, file_type, data_file_type;

init_daemon_domain(mediacodec);

allow mediacodec vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec vndservicemanager:binder {call transfer};
allow mediacodec gpu_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec ion_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec video_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec video_device:dir {search};
allow mediacodec anr_data_file:file {append};
allow mediacodec dumpstate:fd {use};
allow mediacodec incidentd:fd {use};
allow mediacodec dumpstate:fifo_file {write append};
allow mediacodec incidentd:fifo_file {write append};
allow mediacodec system_server:fifo_file {write append};
allow mediacodec tombstoned:unix_stream_socket {connectto};
allow mediacodec tombstoned:fd {use};
allow mediacodec tombstoned_crash_socket:sock_file {write};
allow mediacodec tombstone_data_file:file {append};
neverallow mediacodec fs_type:file {execute_no_trans};
neverallow mediacodec file_type:file {execute_no_trans};
neverallow mediacodec domain:tcp_socket {ioctl read write create getattr setattr lock relabelfrom relabelto append map bind connect listen accept getopt setopt shutdown recvfrom sendto name_bind node_bind name_connect};
neverallow mediacodec domain:udp_socket {ioctl read write create getattr setattr lock relabelfrom relabelto append map bind connect listen accept getopt setopt shutdown recvfrom sendto name_bind node_bind};
neverallow mediacodec domain:rawip_socket {ioctl read write create getattr setattr lock relabelfrom relabelto append map bind connect listen accept getopt setopt shutdown recvfrom sendto name_bind node_bind};
allow mediacodec devmap_device:chr_file {ioctl};
allow mediacodec Vcodec_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec M4U_device_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec proc:file {ioctl read getattr lock map open};
allow mediacodec debugfs_binder:dir {search};
allow mediacodec MTK_SMI_device:chr_file {ioctl read open};
allow mediacodec storage_file:lnk_file {read write open};
allow mediacodec tmpfs:dir {search};
allow mediacodec mnt_user_file:dir {read write search};
allow mediacodec mnt_user_file:lnk_file {read write};
allow mediacodec sdcard_type:dir {read write add_name remove_name search};
allow mediacodec sdcard_type:file {read write create getattr append unlink open};
allow mediacodec nvram_data_file:dir {write lock add_name remove_name search open};
allow mediacodec nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mediacodec nvram_data_file:lnk_file {read};
allow mediacodec nvdata_file:lnk_file {read};
allow mediacodec nvdata_file:dir {write lock add_name remove_name search open};
allow mediacodec nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mediacodec devmap_device:chr_file {ioctl read getattr lock map open};
allow mediacodec proc_meminfo:file {read getattr open};
allow mediacodec mtk_sched_device:chr_file {ioctl read write open};
allow mediacodec mediacodec_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mediacodec mediacodec_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mediacodec sec_device:chr_file {ioctl read getattr lock map open};
allow mediacodec surfaceflinger:file {getattr};
allow mediacodec sysfs_lowmemorykiller:file {read open};
allow mediacodec proc_mtkcooler:dir {search};
allow mediacodec proc_mtktz:dir {search};
allow mediacodec proc_thermal:dir {search};
allow mediacodec proc_mtkcooler:file {read write open};
allow mediacodec proc_mtktz:file {read write getattr open};
allow mediacodec proc_thermal:file {read write getattr open};
allow mediacodec thermal_manager_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mediacodec thermal_manager_data_file:dir {ioctl read write getattr setattr lock add_name remove_name search open};
allow mediacodec thermal_manager_data_file:dir {search};
allow mediacodec untrusted_app:dir {search};
allow mediacodec MJC_device:chr_file {ioctl read write open};
allow mediacodec MtkCodecService:binder {call};
allow mediacodec MtkCodecService:binder {transfer};
allow mediacodec proc_ged:file {ioctl read write getattr lock append map open};
allowxperm mediacodec proc_ged:file ioctl {0x6700-0x670e 0x6764-0x676a};
allow mediacodec surfaceflinger:fifo_file {ioctl read write getattr lock append map open};
allow mediacodec gpu_device:dir {search};
allow mediacodec system_file:dir {ioctl read getattr lock search open};
allow mediacodec debugfs_ion:dir {search};
allow mediacodec mtk_cmdq_device:chr_file {ioctl read open};
allow mediacodec mtk_mdp_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec sw_sync_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec mtk_hal_power_hwservice:hwservice_manager {find};
allow mediacodec mtk_hal_power:binder {call};
allow mediacodec mtk_hal_power:unix_stream_socket {connectto};
allow mediacodec property_socket:sock_file {write};
allow mediacodec init:unix_stream_socket {connectto};
allow mediacodec mtk_thermal_config_prop:property_service {set};
allow mediacodec mtk_thermal_config_prop:file {read getattr map open};
allow mediacodec graphics_device:chr_file {ioctl read open};
allow mediacodec graphics_device:dir {search};
allow mediacodec proc_m4u:file {ioctl read getattr lock map open};
allowxperm mediacodec proc_m4u:file ioctl {0x6732};
allowxperm mediacodec proc_m4u:file ioctl {0x670b};
allowxperm mediacodec proc_m4u:file ioctl {0x670a};
allowxperm mediacodec proc_m4u:file ioctl {0x671a};
allow mediacodec sysfs_concurrency_scenario:file {ioctl read write getattr lock append map open};
allow mediacodec sysfs_concurrency_scenario:dir {search};
allow mediacodec proc_secmem:file {read write open};
allow mediacodec mobicore_data_file:file {read getattr open};
allow mediacodec mobicore_user_device:chr_file {ioctl read write open};
allow mediacodec mobicore:unix_stream_socket {connectto};
allow mediacodec proc_secmem:file {ioctl read write open};
allow mediacodec mobicore_data_file:dir {search};
allow mediacodec persist_data_file:file {read getattr open};
allow mediacodec persist_data_file:dir {search};
allow mediacodec debugfs_fb:dir {search};
allow mediacodec dri_device:chr_file {ioctl read write open};
allow mediacodec proc_mtktz:file {read open};
allow mediacodec mtk_em_video_log_acodec_prop:file {read getattr map open};
allow mediacodec mtk_em_video_log_sf_postbuffer_prop:file {read getattr map open};
allow mediacodec mtk_em_video_log_omx_prop:file {read getattr map open};
allow mediacodec mtk_em_video_log_vdec_prop:file {read getattr map open};
allow mediacodec mtk_em_video_log_svp_prop:file {read getattr map open};
allow mediacodec mtk_em_video_log_mjc_prop:file {read getattr map open};
allow mediacodec mtk_em_video_venc_h264_prop:file {read getattr map open};
allow mediacodec teei_client_device:chr_file {ioctl read write getattr lock append map open};
allow mediacodec proc_chip:dir {ioctl read getattr lock search open};
allow mediacodec proc_chip:file {ioctl read getattr lock map open};
