type merged_hal_service, domain, halserverdomain, halclientdomain, hal_allocator_client, hal_drm, hal_drm_server, hal_gnss, hal_gnss_server, hal_graphics_allocator, hal_graphics_allocator_server, hal_light, hal_light_server, hal_memtrack, hal_memtrack_server, hal_power, hal_power_server, hal_thermal, hal_thermal_server, hal_vibrator, hal_vibrator_server, mtk_hal_lbs, mtk_hal_lbs_server, hal_mtkcodecservice_server, hal_mtkcodecservice, hal_dfps_client;
type merged_hal_service_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(merged_hal_service);

allow merged_hal_service hwservicemanager:binder {call transfer};
allow merged_hal_service sysfs:file {write};
allow merged_hal_service vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow merged_hal_service vndservicemanager:binder {call transfer};
allow merged_hal_service agpsd_socket:sock_file {write};
allow merged_hal_service mtk_agpsd:unix_stream_socket {connectto};
allow merged_hal_service mtk_agpsd:unix_dgram_socket {sendto};
allow merged_hal_service mnld_data_file:sock_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow merged_hal_service mnld_data_file:sock_file {ioctl read write getattr lock append map open};
allow merged_hal_service mnld_data_file:dir {ioctl read write create getattr setattr lock append map unlink rename open};
allow merged_hal_service mnld_data_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow merged_hal_service mnld:unix_dgram_socket {sendto};
allow merged_hal_service gpu_device:dir {search};
allow merged_hal_service sw_sync_device:chr_file {ioctl read write getattr lock append map open};
allow merged_hal_service debugfs_ion:dir {search};
allow merged_hal_service debugfs_tracing:file {write};
allow merged_hal_service debugfs_tracing:file {open};
allow merged_hal_service hidl_allocator_hwservice:hwservice_manager {find};
allow merged_hal_service hidl_memory_hwservice:hwservice_manager {find};
allow merged_hal_service mediacodec:fd {use};
allow merged_hal_service proc_mtktz:dir {search};
allow merged_hal_service proc_mtktz:file {read getattr open};
allow merged_hal_service proc_stat:file {read getattr open};
allowxperm merged_hal_service proc_ged:file ioctl {0x6700-0x670e 0x6764-0x676a};
allow merged_hal_service nvram_agent_binder_hwservice:hwservice_manager {find};
allow merged_hal_service mtk_hal_audio:binder {transfer};
allow merged_hal_service mtk_hal_dfps:binder {call};
