type mnld_device, dev_type;
type mnld, domain, mlstrustedsubject, netdomain;
type mnld_socket, file_type;
type mnld_data_file, file_type, data_file_type;
type mnld_exec, file_type, exec_type, vendor_file_type;
type mnld_prop, property_type, mtk_core_property_type;
type ctl_mnld_prop, property_type;

init_daemon_domain(mnld);

allow mnld agpsd_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mnld agpsd_data_file:sock_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mnld mtk_agpsd:unix_dgram_socket {sendto};
allow mnld sysfs:file {ioctl read write getattr lock append map open};
allow mnld sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow mnld nvram_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mnld nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mnld nvram_data_file:lnk_file {read};
allow mnld nvdata_file:lnk_file {read};
allow mnld nvram_device:blk_file {ioctl read write getattr lock append map open};
allow mnld nvram_device:chr_file {ioctl read write getattr lock append map open};
allow mnld nvdata_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mnld nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mnld mnld_data_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow mnld mnld_data_file:sock_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mnld mnld_device:chr_file {ioctl read write getattr lock append map open};
allow mnld mnld_data_file:file {ioctl read write getattr lock append map open};
allow mnld mnld_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mnld mnld_data_file:fifo_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mnld init:unix_stream_socket {connectto};
allow mnld init:udp_socket {read write};
allow mnld lbs_hidl_service:unix_dgram_socket {sendto};
allow mnld merged_hal_service:unix_dgram_socket {sendto};
allow mnld bootdevice_block_device:blk_file {ioctl read write getattr lock append map open};
allow mnld block_device:dir {search};
allow mnld mnld_prop:property_service {set};
allow mnld property_socket:sock_file {write};
allow mnld mdlog_device:chr_file {read write};
allow mnld self:capability {fsetid};
allow mnld stpbt_device:chr_file {read write};
allow mnld gpsdl_device:chr_file {read write};
allow mnld ttyGS_device:chr_file {read write};
allow mnld sdcard_type:dir {search};
allow mnld sdcard_type:dir {write};
allow mnld sdcard_type:dir {add_name};
allow mnld sdcard_type:file {create};
allow mnld sdcard_type:file {ioctl read write getattr lock append map open};
allow mnld sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mnld sdcard_type:dir {read create remove_name open};
allow mnld tmpfs:lnk_file {read create open};
allow mnld mtd_device:dir {search};
allow mnld mnt_user_file:lnk_file {read};
allow mnld mnt_user_file:dir {search};
allow mnld gps_data_file:dir {write unlink add_name remove_name search};
allow mnld gps_data_file:file {read write create getattr setattr lock append unlink rename open};
allow mnld gps_data_file:lnk_file {read};
allow mnld storage_file:lnk_file {read};
allow mnld nvcfg_file:dir {search};
allow mnld proc_lk_env:file {ioctl read write getattr lock append map open};
allow mnld mtk_hal_gnss:unix_dgram_socket {sendto};
allow mnld hwservicemanager:binder {call transfer};
allow mnld system_server:binder {call transfer};
allow mnld system_server:fd {use};
allow mnld fwk_sensor_hwservice:hwservice_manager {find};
allow mnld hwservicemanager_prop:file {read getattr map open};
allow mnld debugfs_tracing:file {write open};
allow mnld mnt_vendor_file:dir {search};
allow mnld atci_service:unix_dgram_socket {sendto};
allow mnld sysfs_boot_mode:file {read open};
allow mnld vendor_radio_prop:property_service {set};
allow mnld vendor_radio_prop:file {read getattr map open};
allow mnld system_server:binder {transfer};
allow mnld apd_file:dir {search};
allow mnld gps_emi_device:chr_file {ioctl read write getattr lock append map open};
