type mtk_hal_power, domain, halserverdomain, halclientdomain, hal_power, hal_power_server, hal_wifi, hal_wifi_server, hal_dfps_client, hal_nwk_opt_client;
type mtk_hal_power_exec, file_type, exec_type, vendor_file_type;
type mtk_hal_power_hwservice, hwservice_manager_type;

init_daemon_domain(mtk_hal_power);

allow mtk_hal_power hal_graphics_composer_default:binder {transfer};
allow mtk_hal_power mtk_hal_audio:binder {transfer};
allow mtk_hal_power mtk_hal_camera:binder {transfer};
allow mtk_hal_power hwservicemanager:binder {call transfer};
allow mtk_hal_power hwservicemanager_prop:file {read getattr map open};
allow mtk_hal_power hal_power_hwservice:hwservice_manager {add find};
allow mtk_hal_power hidl_base_hwservice:hwservice_manager {add};
allow mtk_hal_power mtk_hal_power_hwservice:hwservice_manager {add find};
allow mtk_hal_power sysfs_devices_system_cpu:file {ioctl read write getattr lock append map open};
allow mtk_hal_power debugfs_ged:dir {ioctl read getattr lock search open};
allow mtk_hal_power debugfs_ged:file {ioctl read write getattr lock append map open};
allow mtk_hal_power proc_thermal:file {write lock append map open};
allow mtk_hal_power mtk_hal_audio:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_perfmgr:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_perfmgr:file {ioctl read write getattr lock append map open};
# (allowx mtk_hal_power proc_perfmgr (ioctl file (0x670a)))
allow mtk_hal_power sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_power sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_power eemcs_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_power mnt_user_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_power mtk_powerhal_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_power mtk_powerhal_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_power mtk_powerhal_data_file:sock_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_power mtk_hal_camera:dir {ioctl read getattr lock search open};
allow mtk_hal_power mtk_hal_camera:file {ioctl read getattr lock map open};
allow mtk_hal_power proc_thermal:dir {ioctl read getattr lock search open};
allow mtk_hal_power debugfs_fpsgo:dir {ioctl read getattr lock search open};
allow mtk_hal_power debugfs_fpsgo:file {ioctl read write getattr lock append map open};
allow mtk_hal_power proc_net:file {write lock append map open};
allow mtk_hal_power mediacodec:dir {ioctl read getattr lock search open};
allow mtk_hal_power mediacodec:file {ioctl read getattr lock map open};
allow mtk_hal_power property_socket:sock_file {write};
allow mtk_hal_power init:unix_stream_socket {connectto};
allow mtk_hal_power mtk_thermal_config_prop:property_service {set};
allow mtk_hal_power mtk_thermal_config_prop:file {read getattr map open};
allow mtk_hal_power debugfs_fb:dir {ioctl read getattr lock search open};
allow mtk_hal_power debugfs_fb:file {ioctl read write getattr lock append map open};
allow mtk_hal_power proc_thermal:file {ioctl read getattr lock map open};
allow mtk_hal_power thermal_manager_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_power thermal_manager_data_file:dir {ioctl read write getattr setattr lock add_name remove_name search open};
allow mtk_hal_power thermalloadalgod:unix_stream_socket {connectto};
allow mtk_hal_power proc_mtkcooler:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_mtkcooler:file {ioctl read write getattr lock append map open};
allow mtk_hal_power proc_mtktz:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_mtktz:file {ioctl read write getattr lock append map open};
allow mtk_hal_power system_server:dir {ioctl read getattr lock search open};
allow mtk_hal_power system_server:file {ioctl read getattr lock map open};
allow mtk_hal_power debugfs_vpu_power:dir {ioctl read getattr lock search open};
allow mtk_hal_power debugfs_vpu_power:file {ioctl read write getattr lock append map open};
allow mtk_hal_power debugfs_mdla_power:dir {ioctl read getattr lock search open};
allow mtk_hal_power debugfs_mdla_power:file {ioctl read write getattr lock append map open};
allow mtk_hal_power rild_oem_socket:sock_file {write};
allow mtk_hal_power rild:unix_stream_socket {connectto};
allow mtk_hal_power sysfs_dm:dir {ioctl read getattr lock search open};
allow mtk_hal_power sysfs_dm:file {ioctl read write getattr lock append map open};
allow mtk_hal_power sysfs_mmcblk:dir {ioctl read getattr lock search open};
allow mtk_hal_power sysfs_mmcblk:file {ioctl read write getattr lock append map open};
allow mtk_hal_power debugfs_eara_thermal:dir {search};
allow mtk_hal_power debugfs_eara_thermal:file {read write getattr open};
allow mtk_hal_power mtk_powerhal_prop:property_service {set};
allow mtk_hal_power mtk_powerhal_prop:file {read getattr map open};
allow mtk_hal_power self:udp_socket {create};
allow mtk_hal_power kernel:system {module_request};
allow mtk_hal_power self:capability {sys_module};
# (allowx mtk_hal_power self (ioctl udp_socket (0x6900 0x6902)))
# (allowx mtk_hal_power self (ioctl udp_socket (((range 0x890b 0x890d)) 0x8911 0x8914 0x8916 0x8918 0x891a ((range 0x891c 0x8920)) ((range 0x8922 0x8927)) 0x8929 ((range 0x8930 0x8932)) ((range 0x8934 0x8937)) 0x8939 ((range 0x8940 0x8941)) 0x8943 ((range 0x8946 0x894b)) ((range 0x8953 0x8955)) ((range 0x8960 0x8962)) ((range 0x8970 0x8971)) ((range 0x8980 0x8983)) ((range 0x8990 0x8995)) ((range 0x89a0 0x89a3)) 0x89b0 ((range 0x89e0 0x89ff)))))
# (allowx mtk_hal_power self (ioctl udp_socket (0x8b00 0x8b02 0x8b04 0x8b06 0x8b08 0x8b0a 0x8b0c 0x8b0e 0x8b10 ((range 0x8b14 0x8b1d)) 0x8b20 0x8b22 0x8b24 0x8b26 0x8b28 ((range 0x8b2a 0x8b2c)) ((range 0x8b30 0x8b36)) ((range 0x8be0 0x8bff)))))
allow mtk_hal_power proc_ppm:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_ppm:file {ioctl read write getattr lock append map open};
allow mtk_hal_power proc_cpufreq:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_cpufreq:file {ioctl read write getattr lock append map open};
allow mtk_hal_power proc_hps:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_hps:file {ioctl read write getattr lock append map open};
allow mtk_hal_power proc_cm_mgr:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_cm_mgr:file {ioctl read write getattr lock append map open};
allow mtk_hal_power proc_fliperfs:dir {ioctl read getattr lock search open};
allow mtk_hal_power proc_fliperfs:file {ioctl read write getattr lock append map open};
allow mtk_hal_power sysfs_ged:dir {ioctl read getattr lock search open};
allow mtk_hal_power sysfs_ged:file {ioctl read write getattr lock append map open};
allow mtk_hal_power sysfs_fbt_cpu:dir {ioctl read getattr lock search open};
allow mtk_hal_power sysfs_fbt_cpu:file {ioctl read write getattr lock append map open};
allow mtk_hal_power sysfs_fbt_fteh:dir {ioctl read getattr lock search open};
allow mtk_hal_power sysfs_fbt_fteh:file {ioctl read write getattr lock append map open};
allow mtk_hal_power sysfs_ca_drv:dir {ioctl read getattr lock search open};
allow mtk_hal_power sysfs_ca_drv:file {ioctl read write getattr lock append map open};
allow mtk_hal_power sysfs_pftch_qos:dir {ioctl read getattr lock search open};
allow mtk_hal_power sysfs_pftch_qos:file {ioctl read write getattr lock append map open};
allow mtk_hal_power sysfs_fs_f2fs:dir {ioctl read getattr lock search open};
allow mtk_hal_power sysfs_fs_f2fs:file {ioctl read write getattr lock append map open};
allow mtk_hal_power radio:binder {transfer};
allow mtk_hal_power mtk_hal_dfps:binder {call};
allow mtk_hal_power mtk_hal_netdagent_hwservice:hwservice_manager {find};
allow mtk_hal_power netdagent:binder {call};
allow mtk_hal_power mtk_hal_nwk_opt:binder {call};
