type mtk_hal_light, domain, halserverdomain, hal_light, hal_light_server;
type mtk_hal_light_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(mtk_hal_light);

allow mtk_hal_light hwservicemanager:binder {call transfer};
allow mtk_hal_light system_server:binder {call transfer};
allow mtk_hal_light system_server:fd {use};
allow mtk_hal_light system_file:dir {read};
allow mtk_hal_light system_file:dir {open};
allow mtk_hal_light sysfs_leds:lnk_file {read};
allow mtk_hal_light sysfs_leds:file {ioctl read write getattr lock append map open};
allow mtk_hal_light sysfs_leds:dir {ioctl read getattr lock search open};
allow mtk_hal_light hwservicemanager_prop:file {read getattr map open};
allow mtk_hal_light system_server:binder {transfer};
allow mtk_hal_light sysfs:file {read write open};
