type mtk_hal_netdagent_hwservice, hwservice_manager_type;

allow mtk_hal_netdagent_client mtk_hal_netdagent_server:binder {call transfer};
allow mtk_hal_netdagent_server mtk_hal_netdagent_client:binder {transfer};
allow mtk_hal_netdagent_client mtk_hal_netdagent_server:fd {use};
allow mtk_hal_netdagent_server mtk_hal_netdagent_client:binder {call transfer};
allow mtk_hal_netdagent_client mtk_hal_netdagent_server:binder {transfer};
allow mtk_hal_netdagent_server mtk_hal_netdagent_client:fd {use};
allow mtk_hal_netdagent_server mtk_hal_netdagent_hwservice:hwservice_manager {add find};
allow mtk_hal_netdagent_server hidl_base_hwservice:hwservice_manager {add};
allow mtk_hal_netdagent_client mtk_hal_netdagent_hwservice:hwservice_manager {find};
