type mtk_hal_keyattestation_hwservice, hwservice_manager_type;

allow mtk_hal_keyattestation_client mtk_hal_keyattestation_server:binder {call transfer};
allow mtk_hal_keyattestation_server mtk_hal_keyattestation_client:binder {transfer};
allow mtk_hal_keyattestation_client mtk_hal_keyattestation_server:fd {use};
allow mtk_hal_keyattestation_server mtk_hal_keyattestation_hwservice:hwservice_manager {add find};
allow mtk_hal_keyattestation_server hidl_base_hwservice:hwservice_manager {add};
allow mtk_hal_keyattestation_client mtk_hal_keyattestation_hwservice:hwservice_manager {find};
