type mtk_hal_apm_hwservice, hwservice_manager_type;

allow mtk_hal_apm_client mtk_hal_apm_server:binder {call transfer};
allow mtk_hal_apm_server mtk_hal_apm_client:binder {transfer};
allow mtk_hal_apm_client mtk_hal_apm_server:fd {use};
allow mtk_hal_apm_server mtk_hal_apm_client:binder {call transfer};
allow mtk_hal_apm_client mtk_hal_apm_server:binder {transfer};
allow mtk_hal_apm_server mtk_hal_apm_client:fd {use};
allow mtk_hal_apm_server mtk_hal_apm_hwservice:hwservice_manager {add find};
allow mtk_hal_apm_server hidl_base_hwservice:hwservice_manager {add};
allow mtk_hal_apm_client mtk_hal_apm_hwservice:hwservice_manager {find};
