type persist_mtk_aeev_prop, property_type, mtk_core_property_type;
type persist_aeev_prop, property_type, mtk_core_property_type;
type debug_mtk_aeev_prop, property_type, mtk_core_property_type;
