type mtk_hal_dfps, domain, halserverdomain, hal_dfps, hal_dfps_server;
type mtk_hal_dfps_exec, file_type, exec_type, vendor_file_type;
type mtk_hal_dfps_hwservice, hwservice_manager_type;

init_daemon_domain(mtk_hal_dfps);

allow mtk_hal_dfps hwservicemanager:binder {call transfer};
allow mtk_hal_dfps vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_dfps vndservicemanager:binder {call transfer};
allow mtk_hal_dfps sysfs_type:dir {ioctl read getattr lock search open};
allow mtk_hal_dfps sysfs_type:file {ioctl read getattr lock map open};
allow mtk_hal_dfps sysfs_type:lnk_file {ioctl read getattr lock map open};
allow mtk_hal_dfps proc_net:dir {ioctl read getattr lock search open};
allow mtk_hal_dfps proc_net:file {ioctl read getattr lock map open};
allow mtk_hal_dfps proc_net:lnk_file {ioctl read getattr lock map open};
allow mtk_hal_dfps hwservicemanager_prop:file {read getattr map open};
allow mtk_hal_dfps mtk_dfrc_device:chr_file {ioctl read write getattr lock append map open};
