type mtk_em_prop, property_type, mtk_core_property_type;
type mtk_em_sys_prop, property_type, extended_core_property_type;
type mtk_em_hidl_prop, property_type, mtk_core_property_type;
type mtk_em_net_auto_tethering_prop, property_type, extended_core_property_type;
type mtk_em_video_log_acodec_prop, property_type;
type mtk_em_video_log_sf_postbuffer_prop, property_type;
type mtk_em_video_log_omx_prop, property_type;
type mtk_em_video_log_vdec_prop, property_type;
type mtk_em_video_log_svp_prop, property_type;
type mtk_em_video_log_mjc_prop, property_type;
type mtk_em_video_venc_h264_prop, property_type;
type mtk_em_tel_log_prop, property_type, extended_core_property_type;
