type mtk_hal_audio, domain, halserverdomain, halclientdomain, hal_allocator_client, hal_audio, hal_audio_server;
type mtk_hal_audio_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(mtk_hal_audio);

allow mtk_hal_audio audiocmdservice_atci:binder {transfer};
allow mtk_hal_audio smartpa1_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio meta_tst:binder {transfer};
allow mtk_hal_audio hwservicemanager:binder {call transfer};
allow mtk_hal_audio sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow mtk_hal_audio self:capability2 {block_suspend};
allow mtk_hal_audio self:cap2_userns {block_suspend};
allow mtk_hal_audio system_suspend_server:binder {call transfer};
allow mtk_hal_audio system_suspend_server:fd {use};
allow mtk_hal_audio system_suspend_hwservice:hwservice_manager {find};
allow mtk_hal_audio hwservicemanager_prop:file {read getattr map open};
allow mtk_hal_audio hidl_manager_hwservice:hwservice_manager {find};
allow mtk_hal_audio ion_device:chr_file {ioctl read getattr lock map open};
allow mtk_hal_audio system_file:dir {read open};
allow mtk_hal_audio proc:dir {ioctl read getattr lock search open};
allow mtk_hal_audio proc:file {ioctl read getattr lock map open};
allow mtk_hal_audio proc:lnk_file {ioctl read getattr lock map open};
allow mtk_hal_audio audio_device:dir {ioctl read getattr lock search open};
allow mtk_hal_audio audio_device:chr_file {ioctl read write getattr lock append map open};
neverallow mtk_hal_audio fs_type:file {execute_no_trans};
neverallow mtk_hal_audio file_type:file {execute_no_trans};
neverallow mtk_hal_audio domain:tcp_socket {ioctl read write create getattr setattr lock relabelfrom relabelto append map bind connect listen accept getopt setopt shutdown recvfrom sendto name_bind node_bind name_connect};
neverallow mtk_hal_audio domain:udp_socket {ioctl read write create getattr setattr lock relabelfrom relabelto append map bind connect listen accept getopt setopt shutdown recvfrom sendto name_bind node_bind};
neverallow mtk_hal_audio domain:rawip_socket {ioctl read write create getattr setattr lock relabelfrom relabelto append map bind connect listen accept getopt setopt shutdown recvfrom sendto name_bind node_bind};
allow mtk_hal_audio sdcard_type:dir {write create lock add_name remove_name search open};
allow mtk_hal_audio sdcard_type:file {create};
allow mtk_hal_audio nvram_data_file:dir {write lock add_name remove_name search open};
allow mtk_hal_audio nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_audio nvram_data_file:lnk_file {read};
allow mtk_hal_audio nvdata_file:lnk_file {read};
allow mtk_hal_audio nvdata_file:dir {write lock add_name remove_name search open};
allow mtk_hal_audio nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_audio sdcard_type:dir {remove_name};
allow mtk_hal_audio sdcard_type:file {unlink};
allow mtk_hal_audio nvram_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio self:netlink_kobject_uevent_socket {create bind setopt};
allow mtk_hal_audio self:netlink_kobject_uevent_socket {read};
allow mtk_hal_audio bt_a2dp_stream_socket:sock_file {write};
allow mtk_hal_audio bt_int_adp_socket:sock_file {write};
allow mtk_hal_audio MtkCodecService:binder {call};
allow mtk_hal_audio ccci_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio eemcs_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio devmap_device:chr_file {ioctl read getattr lock map open};
allow mtk_hal_audio ebc_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio nvram_device:blk_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio block_device:dir {write search};
allow mtk_hal_audio fm_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio sdcard_type:file {append};
allow mtk_hal_audio audiohal_prop:property_service {set};
allow mtk_hal_audio graphics_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio smartpa_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio sysfs_rt_param:file {ioctl read write getattr lock append map open};
allow mtk_hal_audio sysfs_rt_calib:file {ioctl read write getattr lock append map open};
allow mtk_hal_audio sysfs_rt_param:dir {ioctl read getattr lock search open};
allow mtk_hal_audio sysfs_rt_calib:dir {ioctl read getattr lock search open};
allow mtk_hal_audio uhid_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio vow_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio rpc_socket:sock_file {write};
allow mtk_hal_audio ttySDIO_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio sysfs_lowmemorykiller:file {read open};
allow mtk_hal_audio proc_mtkcooler:dir {search};
allow mtk_hal_audio proc_mtktz:dir {search};
allow mtk_hal_audio proc_thermal:dir {search};
allow mtk_hal_audio thermal_manager_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_audio thermal_manager_data_file:dir {ioctl read write getattr setattr lock add_name remove_name search open};
allow mtk_hal_audio radio:dir {read search};
allow mtk_hal_audio radio:file {ioctl read getattr lock map open};
allow mtk_hal_audio untrusted_app:dir {search};
allow mtk_hal_audio offloadservice_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio storage_file:dir {search};
allow mtk_hal_audio storage_file:lnk_file {read write};
allow mtk_hal_audio mnt_user_file:dir {read write search};
allow mtk_hal_audio mnt_user_file:lnk_file {read write};
allow mtk_hal_audio sysfs_ccci:file {ioctl read getattr lock map open};
allow mtk_hal_audio sysfs_ccci:dir {search};
allow mtk_hal_audio tmpfs:dir {search};
allow mtk_hal_audio debugfs_binder:dir {search};
allow mtk_hal_audio kmsg_device:chr_file {write open};
allow mtk_hal_audio property_socket:sock_file {write};
allow mtk_hal_audio fuse:file {ioctl read write getattr lock append map open};
allow mtk_hal_audio init:unix_stream_socket {connectto};
allow mtk_hal_audio radio:binder {call transfer};
allow mtk_hal_audio radio:fd {use};
allow mtk_hal_audio mtk_audiohal_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_audio mtk_audiohal_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_audio sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_audio proc_ged:file {ioctl read write getattr lock append map open};
allow mtk_hal_audio hwservicemanager_prop:property_service {set};
allow mtk_hal_audio fuse:dir {read};
allow mtk_hal_audio self:capability {sys_nice};
allow mtk_hal_audio debugfs_tracing:file {write open};
allow mtk_hal_audio audiocmdservice_atci:binder {call transfer};
allow mtk_hal_audio audiocmdservice_atci:fd {use};
allow mtk_hal_audio mtk_hal_power_hwservice:hwservice_manager {find};
allow mtk_hal_audio mtk_hal_power:binder {call transfer};
allow mtk_hal_audio mtk_hal_power:fd {use};
allow mtk_hal_audio merged_hal_service:binder {call transfer};
allow mtk_hal_audio merged_hal_service:fd {use};
allow mtk_hal_audio audio_ipi_device:chr_file {ioctl read write open};
allow mtk_hal_audio audio_scp_device:chr_file {ioctl read getattr lock map open};
allow mtk_hal_audio mnt_vendor_file:dir {search};
allow mtk_hal_audio audioserver:fifo_file {write lock append map open};
allow mtk_hal_audio sysfs_boot_mode:file {ioctl read getattr lock map open};
allow mtk_hal_audio sysfs_dt_firmware_android:dir {search};
allow mtk_hal_audio adsp_device:file {ioctl read write getattr lock append map open};
allow mtk_hal_audio adsp_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_audio smartpa1_device:chr_file {ioctl read write open};
allow mtk_hal_audio radio:binder {transfer};
allow mtk_hal_audio rild:binder {transfer};
allow mtk_hal_audio factory:binder {transfer};
allow mtk_hal_audio self:netlink_kobject_uevent_socket {getopt};
allow mtk_hal_audio dbmdx_ch_device:chr_file {read open};
# allow mtk_hal_audio system_prop:property_service {set};
# allow mtk_hal_audio system_prop:file {read getattr map open};

allow mtk_hal_audio sysfs_dt_firmware_android:dir {read search open};
allow mtk_hal_audio sysfs_dt_firmware_android:file {read getattr open};
allow mtk_hal_audio metadata_file:dir {search};
