type mtk_agpsd, domain, netdomain, halclientdomain, mtk_hal_apm_client;
type mtk_agpsd_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(mtk_agpsd);

allow mtk_agpsd agps_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_agpsd ttySDIO_device:chr_file {ioctl read write create getattr setattr lock append map unlink open};
allow mtk_agpsd ccci_device:chr_file {ioctl read write create getattr setattr lock append map unlink open};
allow mtk_agpsd agpsd_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_agpsd agpsd_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd agpsd_data_file:sock_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_agpsd sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd eemcs_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_agpsd mnt_user_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_agpsd mnt_vendor_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_agpsd mnt_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd gps_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_agpsd gps_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd tmpfs:lnk_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd mnt_user_file:lnk_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd storage_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_agpsd storage_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd slpd:unix_dgram_socket {sendto};
allow mtk_agpsd nvcfg_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_agpsd nvcfg_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_agpsd mnld:unix_dgram_socket {sendto};
allow mtk_agpsd lbs_hidl_service:unix_dgram_socket {sendto};
allow mtk_agpsd merged_hal_service:unix_dgram_socket {sendto};
allow mtk_agpsd rild:unix_dgram_socket {sendto};
allow mtk_agpsd hwservicemanager_prop:file {read getattr map open};
allow mtk_agpsd mnld_prop:file {read getattr map open};
allow mtk_agpsd mtk_gps_support_prop:file {read getattr map open};
allow mtk_agpsd sysfs_ccci:dir {search};
allow mtk_agpsd sysfs_ccci:file {read open};
allow mtk_agpsd mtk_dmc_prop:file {read getattr map open};
