type mtk_hal_keyinstall, domain, halserverdomain, hal_keymaster, hal_keymaster_server;
type mtk_hal_keyinstall_exec, file_type, exec_type, vendor_file_type;
type mtk_hal_keyinstall_hwservice, hwservice_manager_type;

init_daemon_domain(mtk_hal_keyinstall);

allow mtk_hal_keyinstall mobicore:unix_stream_socket {connectto};
allow mtk_hal_keyinstall mobicore_data_file:dir {search};
allow mtk_hal_keyinstall mobicore_data_file:file {read getattr open};
allow mtk_hal_keyinstall mobicore_user_device:chr_file {ioctl read write open};
allow mtk_hal_keyinstall persist_data_file:dir {write add_name search};
allow mtk_hal_keyinstall persist_data_file:file {read write create getattr setattr open};
allow mtk_hal_keyinstall key_install_data_file:dir {write add_name remove_name search};
allow mtk_hal_keyinstall key_install_data_file:file {read write create getattr setattr append unlink open};
allow mtk_hal_keyinstall debugfs_tracing:file {write};
