type mtk_hal_camera, domain, halserverdomain, halclientdomain, hal_allocator_client, hal_camera, hal_camera_server, hal_graphics_allocator_client, hal_pq_client, mtk_hal_bgs, mtk_hal_bgs_server;
type mtk_hal_camera_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(mtk_hal_camera);

allow mtk_hal_camera aee_aedv:binder {transfer};
allow mtk_hal_camera cameraserver:binder {transfer};
allow mtk_hal_camera hwservicemanager:binder {call transfer};
allow mtk_hal_camera vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera vndservicemanager:binder {call transfer};
allow mtk_hal_camera hwservicemanager_prop:file {read getattr open};
allow mtk_hal_camera cameraserver:binder {call transfer};
allow mtk_hal_camera cameraserver:fd {use};
allow mtk_hal_camera shell:binder {call transfer};
allow mtk_hal_camera shell:fd {use};
allow mtk_hal_camera aee_aedv:binder {call transfer};
allow mtk_hal_camera aee_aedv:fd {use};
allow mtk_hal_camera hal_graphics_allocator:binder {call transfer};
allow mtk_hal_camera hal_graphics_allocator:fd {use};
allow mtk_hal_camera mtk_hal_power:binder {call transfer};
allow mtk_hal_camera mtk_hal_power:fd {use};
allow mtk_hal_camera hal_graphics_mapper_hwservice:hwservice_manager {find};
allow mtk_hal_camera fwk_sensor_hwservice:hwservice_manager {find};
allow mtk_hal_camera mtk_hal_power_hwservice:hwservice_manager {find};
allow mtk_hal_camera nvram_data_file:lnk_file {read write create getattr setattr open};
allow mtk_hal_camera nvdata_file:lnk_file {read write create getattr setattr open};
allow mtk_hal_camera proc:file {ioctl read write getattr lock append map open};
allow mtk_hal_camera proc_mtk_jpeg:file {ioctl read getattr lock map open};
# (allowx mtk_hal_camera proc_mtk_jpeg (ioctl file (((range 0x780b 0x780f)))))
allow mtk_hal_camera sysfs:file {read write getattr open};
allow mtk_hal_camera camera_sysram_device:chr_file {ioctl read getattr lock map open};
allow mtk_hal_camera camera_pipemgr_device:chr_file {ioctl read getattr lock map open};
allow mtk_hal_camera camera_isp_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera camera_dip_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera camera_tsf_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera kd_camera_hw_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera kd_camera_flashlight_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera flashlight_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera lens_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera camera_fdvt_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera camera_dpe_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera camera_mfb_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera camera_wpe_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera mtk_jpeg_device:chr_file {ioctl read getattr lock map open};
allow mtk_hal_camera ccu_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera vpu_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera camera_rsc_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera camera_owe_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera MAINAF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera MAIN2AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera MAIN3AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera SUBAF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera FM50AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera AD5820AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera DW9714AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera DW9814AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera AK7345AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera DW9714A_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera LC898122AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera LC898212AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera BU6429AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera DW9718AF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera BU64745GWZAF_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera CAM_CAL_DRV_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera CAM_CAL_DRV1_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera CAM_CAL_DRV2_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera ion_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera sw_sync_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera MTK_SMI_device:chr_file {ioctl read getattr lock map open};
allow mtk_hal_camera fuse:dir {read write search};
allow mtk_hal_camera fuse:file {ioctl read write getattr lock append map open};
allow mtk_hal_camera block_device:dir {write search};
allow mtk_hal_camera nvram_data_file:dir {write create add_name search};
allow mtk_hal_camera nvram_data_file:file {read write create getattr setattr open};
allow mtk_hal_camera nvram_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera self:netlink_kobject_uevent_socket {create bind setopt};
allow mtk_hal_camera sdcard_type:dir {write create add_name};
allow mtk_hal_camera sdcard_type:file {create getattr append};
allow mtk_hal_camera mtkcam_prop:file {read getattr open};
allow mtk_hal_camera shell:unix_stream_socket {read write};
allow mtk_hal_camera shell:fifo_file {write};
allow mtk_hal_camera dumpstate:binder {call};
allow mtk_hal_camera dumpstate:unix_stream_socket {read write};
allow mtk_hal_camera dumpstate:fd {use};
allow mtk_hal_camera dumpstate:fifo_file {write};
allow mtk_hal_camera aee_exp_vendor_file:dir {write lock add_name remove_name search open};
allow mtk_hal_camera aee_exp_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera self:process {ptrace};
allow mtk_hal_camera self:capability {setuid ipc_lock sys_nice};
allow mtk_hal_camera sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow mtk_hal_camera nvdata_file:dir {write add_name search};
allow mtk_hal_camera nvdata_file:file {read write create getattr setattr open};
allow mtk_hal_camera proc_meminfo:file {read getattr open};
allow mtk_hal_camera sysfs_lowmemorykiller:file {read open};
allow mtk_hal_camera proc_mtkcooler:dir {search};
allow mtk_hal_camera proc_mtktz:dir {search};
allow mtk_hal_camera proc_thermal:dir {search};
allow mtk_hal_camera thermal_manager_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera thermal_manager_data_file:dir {ioctl read write getattr setattr lock add_name remove_name search open};
allow mtk_hal_camera untrusted_app:dir {search};
allow mtk_hal_camera offloadservice_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera storage_file:lnk_file {read write};
allow mtk_hal_camera mnt_user_file:dir {read write search};
allow mtk_hal_camera mnt_user_file:lnk_file {read write};
allow mtk_hal_camera surfaceflinger:fifo_file {read write};
allow mtk_hal_camera nvcfg_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_camera nvcfg_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera system_server:unix_stream_socket {read write};
allow mtk_hal_camera tmpfs:dir {search};
allow mtk_hal_camera system_file:dir {read open};
allow mtk_hal_camera gpu_device:dir {search};
allow mtk_hal_camera gpu_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera proc_ged:file {ioctl read write getattr lock append map open};
# (allowx mtk_hal_camera proc_ged (ioctl file (((range 0x6700 0x670e)) ((range 0x6764 0x676a)))))
allow mtk_hal_camera system_data_file:lnk_file {read};
allow mtk_hal_camera debugfs_tracing:file {write open};
allow mtk_hal_camera debugfs_ion:dir {search};
allow mtk_hal_camera hal_graphics_composer_default:fd {use};
allow mtk_hal_camera property_socket:sock_file {write};
allow mtk_hal_camera mtk_cmdq_device:chr_file {ioctl read open};
allow mtk_hal_camera mtk_mdp_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera sysfs_batteryinfo:dir {search};
allow mtk_hal_camera sysfs_batteryinfo:file {read getattr open};
allow mtk_hal_camera mtk_thermal_config_prop:property_service {set};
allow mtk_hal_camera graphics_device:chr_file {ioctl read write open};
allow mtk_hal_camera graphics_device:dir {search};
allow mtk_hal_camera cct_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_camera cct_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera cct_data_file:fifo_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera sysfs_boot_mode:file {read open};
allow mtk_hal_camera mnt_vendor_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_camera mnt_vendor_file:fifo_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera mediatek_prop:property_service {set};
allow mtk_hal_camera nvram_data_file:dir {search};
allow mtk_hal_camera nvram_data_file:file {ioctl read write getattr lock append map open};
allow mtk_hal_camera nvram_data_file:lnk_file {read};
allow mtk_hal_camera nvdata_file:lnk_file {read};
allow mtk_hal_camera nvdata_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_camera nvcfg_file:lnk_file {read};
allow mtk_hal_camera nvcfg_file:file {read write create getattr setattr open};
allow mtk_hal_camera mnt_vendor_file:dir {search};
allow mtk_hal_camera mnt_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera gz_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera aee_dipdebug_vendor_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow mtk_hal_camera aee_dipdebug_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera proc_isp_p2:dir {search};
allow mtk_hal_camera proc_isp_p2:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera system_data_file:dir {getattr};
allow mtk_hal_camera sysfs_dt_firmware_android:dir {search};
allow mtk_hal_camera proc_m4u:file {ioctl read getattr lock map open};
# (allowx mtk_hal_camera proc_m4u (ioctl file (((range 0x6704 0x6705)) 0x670b 0x671d 0x6732)))
allow mtk_hal_camera mtk_hal_camera:unix_stream_socket {ioctl};
# (allowx mtk_hal_camera mtk_hal_camera (ioctl unix_stream_socket (0x4901)))
allow mtk_hal_camera platform_app:binder {transfer};
allow mtk_hal_camera platform_app:binder {call transfer};
allow mtk_hal_camera platform_app:fd {use};
allow mtk_hal_camera shell:binder {transfer};
allow mtk_hal_camera system_server:binder {transfer};
allow mtk_hal_camera mtk_advcamserver:binder {transfer};
allow mtk_hal_camera system_server:binder {call transfer};
allow mtk_hal_camera system_server:fd {use};
allow mtk_hal_camera init:unix_stream_socket {connectto};
allow mtk_hal_camera vendor_logmuch_prop:property_service {set};
allow mtk_hal_camera vendor_logmuch_prop:file {read getattr map open};
allow mtk_hal_camera proc_thermal:file {read write getattr open};
allow mtk_hal_camera proc_mtktz:file {read write open};
allow mtk_hal_camera mtk_thermal_config_prop:file {read getattr open};
allow mtk_hal_camera proc_mtkcooler:file {read write open};
allow mtk_hal_camera mtk_advcamserver:binder {call transfer};
allow mtk_hal_camera mtk_advcamserver:fd {use};
allow mtk_hal_camera Vcodec_device:chr_file {ioctl read write open};
allow mtk_hal_camera mtk_em_video_log_vdec_prop:file {read getattr map open};
allow mtk_hal_camera sdcardfs:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_camera sdcardfs:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera seninf_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera mobicore_user_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera proc_secmem:file {read write open};
allow mtk_hal_camera vendor_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_camera vendor_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera mtk_camera_prop:property_service {set};
allow mtk_hal_camera mtk_camera_prop:file {read getattr map open};
allow mtk_hal_camera teei_client_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera mdla_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_camera vendor_camera_dump_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_camera vendor_camera_dump_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera vendor_shading_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtk_hal_camera vendor_shading_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_camera remosaic_daemon:binder {call transfer};
allow mtk_hal_camera remosaic_daemon:fd {use};
allow mtk_hal_camera remosaic_daemon_service:service_manager {find};
allow mtk_hal_camera proc_agold:file {read getattr open};
allow mtk_hal_camera hal_agolddaemon_hwservice:hwservice_manager {find};
allow mtk_hal_camera hal_agolddaemon:binder {call transfer};
allow mtk_hal_camera hal_agolddaemon:fd {use};
