type mtk_hal_pq, domain, halserverdomain, halclientdomain, hal_allocator_client, hal_pq, hal_pq_server;
type mtk_hal_pq_exec, file_type, exec_type, vendor_file_type;
type mtk_hal_pq_hwservice, hwservice_manager_type;

init_daemon_domain(mtk_hal_pq);

allow mtk_hal_pq hwservicemanager:binder {call transfer};
allow mtk_hal_pq graphics_device:chr_file {ioctl read write open};
allow mtk_hal_pq init:unix_stream_socket {connectto};
allow mtk_hal_pq property_socket:sock_file {write};
allow mtk_hal_pq fwk_sensor_hwservice:hwservice_manager {find};
allow mtk_hal_pq mtk_pq_prop:property_service {set};
allow mtk_hal_pq mtk_pq_prop:file {read getattr map open};
allow mtk_hal_pq system_data_file:lnk_file {read};
allow mtk_hal_pq nvdata_file:dir {write add_name search};
allow mtk_hal_pq nvdata_file:file {read write create getattr setattr open};
allow mtk_hal_pq nvram_data_file:dir {search};
allow mtk_hal_pq nvram_data_file:dir {write lock add_name remove_name search open};
allow mtk_hal_pq nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtk_hal_pq nvram_data_file:lnk_file {read};
allow mtk_hal_pq nvdata_file:lnk_file {read};
