type mtk_cta_set_prop, property_type, extended_core_property_type;
type mtk_cta_log_prop, property_type, mtk_core_property_type;
type mtk_cta_support_prop, property_type, mtk_core_property_type;
