type mtk_hal_mms, domain, untrusted_app_visible_halserver_violators, halserverdomain, halclientdomain, hal_allocator_client, hal_graphics_allocator_client, hal_pq_client, hal_mms, hal_mms_server;
type mtk_hal_mms_exec, file_type, exec_type, vendor_file_type;
type mtk_hal_mms_hwservice, hwservice_manager_type, untrusted_app_visible_hwservice_violators;

init_daemon_domain(mtk_hal_mms);

allow mtk_hal_mms hwservicemanager:binder {call transfer};
allow mtk_hal_mms graphics_device:chr_file {ioctl read write open};
allow mtk_hal_mms ion_device:chr_file {ioctl read open};
allow mtk_hal_mms mtk_cmdq_device:chr_file {ioctl read open};
allow mtk_hal_mms mtk_mdp_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_mms sw_sync_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_mms proc:file {ioctl read getattr lock map open};
allow mtk_hal_mms hal_graphics_allocator_default:fd {use};
allow mtk_hal_mms debugfs_ion:dir {search};
allow mtk_hal_mms merged_hal_service:fd {use};
allow mtk_hal_mms Vcodec_device:chr_file {ioctl read write getattr lock append map open};
allow mtk_hal_mms proc_mtk_jpeg:file {ioctl read getattr lock map open};
# (allowx mtk_hal_mms proc_mtk_jpeg (ioctl file (((range 0x780b 0x780f)))))
allow mtk_hal_mms platform_app:fd {use};
allow mtk_hal_mms system_app:fd {use};
