allow mtkimsmddomain ccci_device:chr_file {read write open};
allow mtkimsmddomain fwmarkd_socket:sock_file {write};
allow mtkimsmddomain sysfs_ccci:dir {search};
allow mtkimsmddomain sysfs_ccci:file {ioctl read getattr lock map open};
allow mtkimsmddomain self:capability2 {wake_alarm};
allow mtkimsmddomain ril_mux_report_case_prop:property_service {set};
allow mtkimsmddomain self:capability {chown setgid setuid};
allow mtkimsmddomain device:dir {ioctl read write getattr lock add_name remove_name search open};
allow mtkimsmddomain device:lnk_file {create unlink};
allow mtkimsmddomain devpts:chr_file {ioctl read write getattr setattr lock append map open};
allow mtkimsmddomain volte_vt_socket:sock_file {write};
allow mtkimsmddomain self:capability {net_raw};
allow mtkimsmddomain rild_imsm_socket:sock_file {write};
allow mtkimsmddomain mtkrild:unix_stream_socket {connectto};
allow mtkimsmddomain rild_mal_socket:sock_file {write};
allow mtkimsmddomain rild_mal_at_socket:sock_file {write};
allow mtkimsmddomain rild_mal_md2_socket:sock_file {write};
allow mtkimsmddomain rild_mal_at_md2_socket:sock_file {write};
allow mtkimsmddomain wpa_socket:sock_file {write};
allow mtkimsmddomain hal_wifi_supplicant_default:unix_dgram_socket {sendto};
allow mtkimsmddomain dnsproxyd_socket:sock_file {write};
allow mtkimsmddomain ccci_device:chr_file {ioctl read write open};
allow mtkimsmddomain devpts:chr_file {read write open};
allow mtkimsmddomain tmpfs:lnk_file {read};
allow mtkimsmddomain mal_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtkimsmddomain mal_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtkimsmddomain devpts:chr_file {ioctl read write open};
allow mtkimsmddomain devpts:chr_file {getattr setattr};
allow mtkimsmddomain self:netlink_route_socket {write create bind nlmsg_read};
allow mtkimsmddomain rild:unix_stream_socket {connectto};
allow mtkimsmddomain property_socket:sock_file {write};
allow mtkimsmddomain init:unix_stream_socket {connectto};
allow mtkimsmddomain mtk_operator_id_prop:property_service {set};
allow mtkimsmddomain mtk_operator_id_prop:file {read getattr map open};
allow mtkimsmddomain vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow mtkimsmddomain vndservicemanager:binder {call transfer};
allow mtkimsmddomain vtservice_hidl:unix_stream_socket {connectto};
allow mtkimsmddomain vendor_radio_prop:property_service {set};
allow mtkimsmddomain vendor_radio_prop:file {read getattr map open};
allow mtkimsmddomain ril_mux_report_case_prop:file {read getattr map open};
allow mtkimsmddomain mtk_md_version_prop:property_service {set};
allow mtkimsmddomain mtk_md_version_prop:file {read getattr map open};
allow mtkimsmddomain mtk_network_prop:property_service {set};
allow mtkimsmddomain mtk_network_prop:file {read getattr map open};
