type mtkrild, domain, netdomain, mtkimsapdomain;
type mtkrild_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(mtkrild);

allow mtkrild kernel:system {module_request};
allow mtkrild self:capability {setuid net_admin net_raw};
allow mtkrild cgroup:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
auditallow mtkrild net_radio_prop:property_service {set};
auditallow mtkrild system_radio_prop:property_service {set};
allow mtkrild property_socket:sock_file {write};
allow mtkrild init:unix_stream_socket {connectto};
allow mtkrild ril_active_md_prop:property_service {set};
allow mtkrild ril_active_md_prop:file {read getattr map open};
allow mtkrild ril_cdma_report_prop:property_service {set};
allow mtkrild ril_cdma_report_prop:file {read getattr map open};
allow mtkrild ril_mux_report_case_prop:property_service {set};
allow mtkrild ril_mux_report_case_prop:file {read getattr map open};
allow mtkrild ctl_muxreport-daemon_prop:property_service {set};
allow mtkrild ctl_muxreport-daemon_prop:file {read getattr map open};
allow mtkrild mtk_telephony_sensitive_prop:property_service {set};
allow mtkrild mtk_telephony_sensitive_prop:file {read getattr map open};
allow mtkrild sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow mtkrild self:capability2 {block_suspend};
allow mtkrild self:cap2_userns {block_suspend};
allow mtkrild system_suspend_server:binder {call transfer};
allow mtkrild system_suspend_server:fd {use};
allow mtkrild system_suspend_hwservice:hwservice_manager {find};
allow mtkrild hwservicemanager:binder {call transfer};
allow mtkrild hwservicemanager_prop:file {read getattr map open};
allow mtkrild hidl_manager_hwservice:hwservice_manager {find};
allow mtkrild efs_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtkrild efs_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtkrild bluetooth_efs_file:file {ioctl read getattr lock map open};
allow mtkrild bluetooth_efs_file:dir {ioctl read getattr lock search open};
allow mtkrild sdcardfs:dir {ioctl read getattr lock search open};
allow mtkrild proc_net:file {write lock append map open};
allow mtkrild self:netlink_route_socket {nlmsg_write};
allow mtkrild radio_device:chr_file {ioctl read write getattr lock append map open};
allow mtkrild radio_device:blk_file {ioctl read getattr lock map open};
allow mtkrild mtd_device:dir {search};
allow mtkrild tty_device:chr_file {ioctl read write getattr lock append map open};
allow mtkrild eemcs_device:chr_file {ioctl read write getattr lock append map open};
allow mtkrild devmap_device:chr_file {ioctl read getattr lock map open};
allow mtkrild devpts:chr_file {ioctl read write getattr lock append map open};
allow mtkrild ccci_device:chr_file {ioctl read write getattr lock append map open};
allow mtkrild misc_device:chr_file {ioctl read write getattr lock append map open};
allow mtkrild proc_lk_env:file {ioctl read write getattr lock append map open};
allow mtkrild para_block_device:blk_file {ioctl read write getattr lock append map open};
allow mtkrild block_device:dir {search};
allow mtkrild platform_app:fd {use};
allow mtkrild radio:fd {use};
allow mtkrild mal_mfi_socket:sock_file {write lock append map open};
allow mtkrild sysfs_ccci:dir {search};
allow mtkrild sysfs_ccci:file {ioctl read getattr lock map open};
allow mtkrild aee_aedv:unix_stream_socket {connectto};
# (allowx mtkrild self (ioctl udp_socket (0x890c 0x8914 0x8916 0x8939 ((range 0x89f0 0x89f1)))))
allow mtkrild vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow mtkrild vndservicemanager:binder {call transfer};
allow mtkrild node:rawip_socket {node_bind};
allow mtkrild sysfs:file {open};
allow mtkrild sysfs:file {read};
allow mtkrild vendor_ril_ipo_prop:property_service {set};
allow mtkrild vendor_ril_ipo_prop:file {read getattr map open};
allow mtkrild tel_switch_prop:file {read getattr map open};
allow mtkrild vendor_radio_prop:property_service {set};
allow mtkrild vendor_radio_prop:file {read getattr map open};
allow mtkrild mtk_cxp_vendor_prop:property_service {set};
allow mtkrild mtk_cxp_vendor_prop:file {read getattr map open};
allow mtkrild mnt_vendor_file:dir {search};
allow mtkrild mnt_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtkrild nvdata_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mtkrild nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mtkrild mtk_ss_vendor_prop:property_service {set};
allow mtkrild mtk_ss_vendor_prop:file {read getattr map open};
allow mtkrild mtk_wfc_serv_prop:file {read getattr map open};
allow mtkrild exported3_radio_prop:file {read getattr map open};
allow mtkrild gsm0710muxd_prop:property_service {set};
allow mtkrild gsm0710muxd_prop:file {read getattr map open};
allow mtkrild mnld:unix_dgram_socket {sendto};
allow mtkrild vendor_logmuch_prop:property_service {set};
allow mtkrild vendor_logmuch_prop:file {read getattr map open};
allow mtkrild cdma_prop:property_service {set};
allow mtkrild cdma_prop:file {read getattr map open};
allow mtkrild mtk_vsim_prop:property_service {set};
allow mtkrild mtk_vsim_prop:file {read getattr map open};
allow mtkrild mtk_subsidylock_prop:property_service {set};
allow mtkrild mtk_subsidylock_prop:file {read getattr map open};
allow mtkrild mtk_ims_prop:property_service {set};
allow mtkrild mtk_ims_prop:file {read getattr map open};
