type nvram_device, dev_type;
type nvram_data_file, file_type, data_file_type;
type nvram_agent_binder, domain, halserverdomain, hal_nvramagent, hal_nvramagent_server;
type nvram_agent_binder_exec, file_type, exec_type, vendor_file_type;
type nvram_agent_binder_hwservice, hwservice_manager_type;
type nvram_agent_service, service_manager_type;

init_daemon_domain(nvram_agent_binder);

allow nvram_agent_binder nvram_agent_service:service_manager {add};
allow nvram_agent_binder nvram_device:blk_file {ioctl read write getattr lock append map open};
allow nvram_agent_binder nvdata_device:blk_file {ioctl read write getattr lock append map open};
allow nvram_agent_binder nvram_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow nvram_agent_binder nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow nvram_agent_binder nvram_data_file:lnk_file {read};
allow nvram_agent_binder nvdata_file:lnk_file {read};
allow nvram_agent_binder nvdata_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow nvram_agent_binder nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow nvram_agent_binder als_ps_device:chr_file {ioctl read getattr lock map open};
allow nvram_agent_binder mtk-adc-cali_device:chr_file {ioctl read write getattr lock append map open};
allow nvram_agent_binder gsensor_device:chr_file {ioctl read getattr lock map open};
allow nvram_agent_binder gyroscope_device:chr_file {ioctl read getattr lock map open};
allow nvram_agent_binder self:capability {chown fowner fsetid};
allow nvram_agent_binder nvram_device:chr_file {ioctl read write getattr lock append map open};
allow nvram_agent_binder pro_info_device:chr_file {ioctl read write getattr lock append map open};
allow nvram_agent_binder block_device:dir {search};
allow nvram_agent_binder mtd_device:dir {search};
allow nvram_agent_binder mtd_device:chr_file {ioctl read write getattr lock append map open};
allow nvram_agent_binder hwservicemanager_prop:file {read getattr map open};
allow nvram_agent_binder sysfs:file {read open};
allow nvram_agent_binder hwservicemanager:binder {call transfer};
allow nvram_agent_binder mnt_vendor_file:dir {search};
allow nvram_agent_binder sysfs_boot_mode:file {ioctl read getattr lock map open};
