type proc_gpulog, fs_type, proc_type;
type proc_lk_env, fs_type, proc_type;
type proc_kpageflags, fs_type, proc_type;
type proc_bootprof, fs_type, proc_type;
type proc_chip, fs_type, proc_type;
type proc_sched_debug, fs_type, proc_type;
type proc_atf_log, fs_type, proc_type;
type proc_ufs_debug, fs_type, proc_type;
type proc_msdc_debug, fs_type, proc_type;
type proc_cmdq_debug, fs_type, proc_type;
type proc_pidmap, fs_type, proc_type;
type proc_slabtrace, fs_type, proc_type;
type proc_isp_p2, fs_type, proc_type;
type proc_isp_p2_dump, fs_type, proc_type;
type proc_isp_p2_kedump, fs_type, proc_type;
type proc_dbg_repo, fs_type, proc_type;
type proc_pl_lk, fs_type, proc_type;
type proc_aed_reboot_reason, fs_type, proc_type;
type proc_mtkcooler, fs_type, proc_type;
type proc_mtktz, fs_type, proc_type;
type proc_ged, fs_type, proc_type;
type proc_m4u, fs_type, proc_type;
type proc_perfmgr, fs_type, proc_type;
type proc_secmem, fs_type, proc_type;
type proc_agold, fs_type, proc_type;
type proc_ppm, fs_type, proc_type;
type proc_cpufreq, fs_type, proc_type;
type proc_hps, fs_type, proc_type;
type proc_fliperfs, fs_type, proc_type;
type proc_cm_mgr, fs_type, proc_type;

