type vendor_ril_ipo_prop, property_type, mtk_core_property_type;
type ctl_ril-daemon-mtk_prop, property_type;
type ctl_ril-daemon-s_prop, property_type;
type ctl_ril-daemon-d_prop, property_type;
type ctl_ril-proxy_prop, property_type;
type ril_active_md_prop, property_type, mtk_core_property_type;
type ril_mux_report_case_prop, property_type, mtk_core_property_type;
type ril_cdma_report_prop, property_type, mtk_core_property_type;
type mtk_ril_mode_prop, property_type, mtk_core_property_type;
