# type rild_socket, file_type;
# type rild_debug_socket, file_type;
# type rild, domain, netdomain, halserverdomain, halclientdomain, hal_audio_client, hal_telephony, hal_telephony_server, mtkimsapdomain;
# type rild_exec, file_type, exec_type, vendor_file_type;
type rild_mal_socket, file_type;
type rild_mal_at_socket, file_type;
type rild_mal_md2_socket, file_type;
type rild_mal_at_md2_socket, file_type;
type rild_ims_socket, file_type;
type rild_imsm_socket, file_type;
type rild_oem_socket, file_type;
type rild_mtk_ut_socket, file_type;
type rild_mtk_ut_2_socket, file_type;
type rild_mtk_modem_socket, file_type;
type rild_md2_socket, file_type;
type rild_debug_md2_socket, file_type;
type rild_oem_md2_socket, file_type;
type rild_mtk_ut_md2_socket, file_type;
type rild_mtk_ut_2_md2_socket, file_type;
type rild_mtk_modem_md2_socket, file_type;
type rild_vsim_socket, file_type;
type rild_vsim_md2_socket, file_type;
type rild-dongle_socket, file_type;
type rild_via_socket, file_type;
type rild_ctclient_socket, file_type;
type rild_atci_socket, file_type;

init_daemon_domain(rild);

allow rild property_socket:sock_file {write};
allow rild init:unix_stream_socket {connectto};
allow rild vendor_radio_prop:property_service {set};
allow rild vendor_radio_prop:file {read getattr map open};
allow rild mtk_hal_secure_element:binder {transfer};
allow rild sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow rild self:capability2 {block_suspend};
allow rild self:cap2_userns {block_suspend};
allow rild system_suspend_server:binder {call transfer};
allow rild system_suspend_server:fd {use};
allow rild system_suspend_hwservice:hwservice_manager {find};
allow rild hwservicemanager:binder {call transfer};
allow rild hwservicemanager_prop:file {read getattr map open};
allow rild hidl_manager_hwservice:hwservice_manager {find};
allow rild kernel:system {module_request};
allow rild self:capability {setuid net_admin net_raw};
allow rild cgroup:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
auditallow rild net_radio_prop:property_service {set};
auditallow rild system_radio_prop:property_service {set};
allow rild ril_active_md_prop:property_service {set};
allow rild ril_active_md_prop:file {read getattr map open};
allow rild ril_cdma_report_prop:property_service {set};
allow rild ril_cdma_report_prop:file {read getattr map open};
allow rild ril_mux_report_case_prop:property_service {set};
allow rild ril_mux_report_case_prop:file {read getattr map open};
allow rild ctl_muxreport-daemon_prop:property_service {set};
allow rild ctl_muxreport-daemon_prop:file {read getattr map open};
allow rild efs_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow rild efs_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow rild bluetooth_efs_file:file {ioctl read getattr lock map open};
allow rild bluetooth_efs_file:dir {ioctl read getattr lock search open};
allow rild sdcardfs:dir {ioctl read getattr lock search open};
allow rild proc_net:file {write lock append map open};
allow rild self:netlink_route_socket {nlmsg_write};
allow rild radio_device:chr_file {ioctl read write getattr lock append map open};
allow rild radio_device:blk_file {ioctl read getattr lock map open};
allow rild mtd_device:dir {search};
allow rild tty_device:chr_file {ioctl read write getattr lock append map open};
allow rild eemcs_device:chr_file {ioctl read write getattr lock append map open};
allow rild devmap_device:chr_file {ioctl read getattr lock map open};
allow rild devpts:chr_file {ioctl read write getattr lock append map open};
allow rild ccci_device:chr_file {ioctl read write getattr lock append map open};
allow rild misc_device:chr_file {ioctl read write getattr lock append map open};
allow rild proc_lk_env:file {ioctl read write getattr lock append map open};
allow rild sysfs_vcorefs_pwrctrl:file {write lock append map open};
allow rild para_block_device:blk_file {ioctl read write getattr lock append map open};
allow rild block_device:dir {search};
allow rild platform_app:fd {use};
allow rild radio:fd {use};
allow rild mal_mfi_socket:sock_file {write lock append map open};
allow rild sysfs_ccci:dir {search};
allow rild sysfs_ccci:file {ioctl read getattr lock map open};
allow rild vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow rild vndservicemanager:binder {call transfer};
allow rild mtk_telephony_sensitive_prop:property_service {set};
allow rild mtk_telephony_sensitive_prop:file {read getattr map open};
allow rild mtk_agpsd:unix_stream_socket {connectto};
allow rild mtk_net_ipv6_prop:property_service {set};
allow rild sysfs:file {open};
allow rild sysfs:file {read};
allow rild vendor_shell_exec:file {execute_no_trans};
allow rild vendor_toolbox_exec:file {execute_no_trans};
allow rild tel_switch_prop:file {read getattr map open};
allow rild vendor_ril_ipo_prop:property_service {set};
allow rild vendor_ril_ipo_prop:file {read getattr map open};
allow rild mtk_cxp_vendor_prop:property_service {set};
allow rild mtk_cxp_vendor_prop:file {read getattr map open};
allow rild mnt_vendor_file:dir {search};
allow rild mnt_vendor_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow rild nvdata_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow rild nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow rild mtk_hal_secure_element:binder {call};
allow rild mtk_ss_vendor_prop:property_service {set};
allow rild mtk_ss_vendor_prop:file {read getattr map open};
allow rild powerctl_prop:property_service {set};
allow rild powerctl_prop:file {read getattr map open};
allow rild proc_cmdline:file {ioctl read getattr lock map open};
allow rild self:netlink_netfilter_socket {read write create getattr setattr lock append map bind connect getopt setopt shutdown};
allow rild proc_aed_reboot_reason:file {ioctl read write getattr lock append map open};
allow rild mtk_wfc_serv_prop:file {read getattr map open};
allow rild gsm0710muxd_prop:property_service {set};
allow rild gsm0710muxd_prop:file {read getattr map open};
allow rild mtkrild:unix_stream_socket {connectto};
allow rild self:capability {setuid};
allow rild radio_prop:property_service {set};
allow rild proc:file {read};
allow rild netd_socket:sock_file {write};
allow rild netd_socket:sock_file {read};
allow rild mtk_hal_audio:binder {call transfer};
allow rild mtk_hal_audio:fd {use};
allow rild mnld:unix_dgram_socket {sendto};
allow rild gsmrild_socket:sock_file {write};
allow rild mtk_vsim_prop:property_service {set};
allow rild mtk_vsim_prop:file {read getattr map open};
allow rild mtk_radio_data_file:dir {read write add_name remove_name search open};
allow rild mtk_radio_data_file:file {read write create getattr lock unlink open};
allow rild mtk_volte_prop:property_service {set};
allow rild mtk_volte_prop:file {read getattr map open};
allow rild mtk_wfc_prop:property_service {set};
allow rild mtk_wfc_prop:file {read getattr map open};
allow rild mtk_vilte_prop:property_service {set};
allow rild mtk_vilte_prop:file {read getattr map open};
allow rild mtk_viwifi_prop:property_service {set};
allow rild mtk_viwifi_prop:file {read getattr map open};
allow rild mtk_ims_prop:property_service {set};
allow rild mtk_ims_prop:file {read getattr map open};
allow rild mtk_volte_support_prop:property_service {set};
allow rild mtk_volte_support_prop:file {read getattr map open};
allow rild mtk_wfc_support_prop:property_service {set};
allow rild mtk_wfc_support_prop:file {read getattr map open};
allow rild mtk_vilte_support_prop:property_service {set};
allow rild mtk_vilte_support_prop:file {read getattr map open};
allow rild mtk_viwifi_support_prop:property_service {set};
allow rild mtk_viwifi_support_prop:file {read getattr map open};
allow rild mtk_rcs_ua_support_prop:property_service {set};
allow rild mtk_rcs_ua_support_prop:file {read getattr map open};
allow rild mtk_provision_prop:property_service {set};
allow rild mtk_provision_prop:file {read getattr map open};
allow rild mtk_subsidylock_prop:property_service {set};
allow rild mtk_subsidylock_prop:file {read getattr map open};
allow rild mtk_ims_eims_pdn_prop:property_service {set};
allow rild mtk_ims_eims_pdn_prop:file {read getattr map open};
allow rild mtk_cta_support_prop:file {read getattr map open};
allow rild mtk_vonr_prop:property_service {set};
allow rild mtk_vonr_prop:file {read getattr map open};
allow rild mtk_vinr_prop:property_service {set};
allow rild mtk_vinr_prop:file {read getattr map open};
allow rild nlop_device:chr_file {ioctl read write getattr lock append map open};
allow rild system_app:binder {call transfer};
allow rild statusd:unix_stream_socket {connectto};
allow rild rild_via_socket:sock_file {write};
allow rild viarild:unix_stream_socket {connectto};
allow rild cdma_prop:property_service {set};
allow rild rild_vsim_socket:sock_file {write};
allow rild mtk_hal_netdagent_hwservice:hwservice_manager {find};
allow rild netdagent:binder {call};
allow rild mtk_vt_prop:property_service {set};
allow rild mtk_vt_prop:file {read getattr map open};
allow rild system_app:binder {call};

# allow rild exported3_default_prop:property_service {set};
# allow rild exported3_default_prop:file {read getattr map open};
# allow rild logmuch_prop:property_service {set};
# allow rild logmuch_prop:file {read getattr map open};
