type statusd, domain, mtkimsapdomain;
type statusd_socket, file_type;
type statusd_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(statusd);

allow statusd block_device:dir {search};
allow statusd flashlessd_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow statusd init:unix_stream_socket {connectto};
allow statusd mtk_md_prop:property_service {set};
allow statusd net_cdma_mdmstat:property_service {set};
allow statusd nvram_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow statusd nvram_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow statusd nvram_data_file:lnk_file {read};
allow statusd nvdata_file:lnk_file {read};
allow statusd nvdata_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow statusd nvdata_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow statusd nvram_device:chr_file {ioctl read write getattr lock append map open};
allow statusd nvram_device:blk_file {ioctl read write getattr lock append map open};
allow statusd system_data_file:lnk_file {read};
allow statusd nvdata_device:blk_file {read write open};
allow statusd ril_cdma_report_prop:property_service {set};
allow statusd self:capability {net_admin};
allow statusd self:udp_socket {ioctl create};
allow statusd statusd_socket:sock_file {write setattr};
allow statusd sysfs_wake_lock:file {read write open};
allow statusd c2k_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow statusd c2k_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow statusd ttyMT_device:chr_file {ioctl read write open};
allow statusd ttySDIO_device:chr_file {ioctl read write setattr open};
allow statusd viarild_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow statusd vmodem_device:chr_file {ioctl read write setattr open};
allow statusd ril_mux_report_case_prop:property_service {set};
allow statusd cdma_prop:property_service {set};
allow statusd domain:dir {search};
allow statusd property_socket:sock_file {write};
allow statusd mtk_telephony_sensitive_prop:property_service {set};
allow statusd mtk_telephony_sensitive_prop:file {read getattr map open};
allow statusd device:dir {write};
allow statusd devpts:chr_file {setattr};
allow statusd device:dir {add_name};
allow statusd device:lnk_file {create};
allow statusd device:dir {remove_name};
allow statusd devpts:chr_file {read write};
allow statusd device:lnk_file {unlink};
allow statusd devpts:chr_file {open};
allow statusd devpts:chr_file {ioctl};
allowxperm statusd self:udp_socket ioctl {0x890c 0x8914 0x8916 0x8939 0x89f0-0x89f1};
allow statusd sysfs_ccci:dir {search};
allow statusd sysfs_ccci:file {ioctl read getattr lock map open};
allow statusd vndbinder_device:chr_file {read write};
allow statusd vndbinder_device:chr_file {open};
allow statusd vndbinder_device:chr_file {ioctl};
