type sysfs_agold, fs_type, sysfs_type;
type sysfs_boot_mode, fs_type, sysfs_type;
type sysfs_boot_type, fs_type, sysfs_type;
type sysfs_ccci, fs_type, sysfs_type;
type sysfs_mdinfo, fs_type, sysfs_type;
type sysfs_mmcblk, fs_type, sysfs_type;
type sysfs_ssw, fs_type, sysfs_type;
type sysfs_vibrator_setting, fs_type, sysfs_type;
type sysfs_adsp, fs_type, sysfs_type;
type sysfs_scp, fs_type, sysfs_type;
type sysfs_vcore_debug, fs_type, sysfs_type;
type sysfs_comport_type, fs_type, sysfs_type;
type sysfs_usb_cmode, fs_type, sysfs_type;
type sysfs_uart_info, fs_type, sysfs_type;
type sysfs_tpd_setting, fs_type, sysfs_type;
type sysfs_tpd_debug, fs_type, sysfs_type;
type sysfs_headset, fs_type, sysfs_type;
type sysfs_leds_setting, fs_type, sysfs_type;
type sysfs_therm, fs_type, sysfs_type;
type sysfs_rt_param, fs_type, sysfs_type;
type sysfs_rt_calib, fs_type, sysfs_type;
type sysfs_pftch_qos, fs_type, sysfs_type;
type sysfs_ged, fs_type, sysfs_type;
type sysfs_fbt_cpu, fs_type, sysfs_type;
type sysfs_fbt_fteh, fs_type, sysfs_type;
type sysfs_ca_drv, fs_type, sysfs_type;
type sysfs_vcorefs_pwrctrl, fs_type, sysfs_type;
type sysfs_concurrency_scenario, fs_type, sysfs_type;

