type viarild, domain, netdomain, mtkimsapdomain;
type viarild_exec, file_type, exec_type, vendor_file_type;
type ctl_viarild_prop, property_type;

init_daemon_domain(viarild);

allow viarild self:netlink_route_socket {nlmsg_write};
allow viarild kernel:system {module_request};
allow viarild self:capability {setuid net_admin net_raw};
allow viarild cgroup:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow viarild radio_device:chr_file {ioctl read write getattr lock append map open};
allow viarild radio_device:blk_file {ioctl read getattr lock map open};
allow viarild mtd_device:dir {search};
allow viarild efs_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow viarild efs_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow viarild bluetooth_efs_file:file {ioctl read getattr lock map open};
allow viarild bluetooth_efs_file:dir {ioctl read getattr lock search open};
allow viarild sdcardfs:dir {ioctl read getattr lock search open};
allow viarild proc:file {write};
allow viarild property_socket:sock_file {write};
allow viarild init:unix_stream_socket {connectto};
allow viarild cdma_prop:property_service {set};
allow viarild cdma_prop:file {read getattr map open};
allow viarild ril_cdma_report_prop:property_service {set};
allow viarild ril_cdma_report_prop:file {read getattr map open};
allow viarild ril_mux_report_case_prop:property_service {set};
allow viarild ril_mux_report_case_prop:file {read getattr map open};
auditallow viarild system_radio_prop:property_service {set};
auditallow viarild net_radio_prop:property_service {set};
allow viarild vendor_radio_prop:property_service {set};
allow viarild vendor_radio_prop:file {read getattr map open};
allow viarild vendor_ril_ipo_prop:property_service {set};
allow viarild vendor_ril_ipo_prop:file {read getattr map open};
allow viarild mtk_telephony_sensitive_prop:property_service {set};
allow viarild mtk_telephony_sensitive_prop:file {read getattr map open};
allow viarild tty_device:chr_file {ioctl read write getattr lock append map open};
allow viarild self:netlink_socket {read write create getattr setattr lock append map bind connect getopt setopt shutdown};
allow viarild self:netlink_kobject_uevent_socket {read write create getattr setattr lock append map bind connect getopt setopt shutdown};
allow viarild sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow viarild self:capability2 {block_suspend};
allow viarild self:cap2_userns {block_suspend};
allow viarild system_suspend_server:binder {call transfer};
allow viarild system_suspend_server:fd {use};
allow viarild system_suspend_hwservice:hwservice_manager {find};
allow viarild hwservicemanager:binder {call transfer};
allow viarild hwservicemanager_prop:file {read getattr map open};
allow viarild hidl_manager_hwservice:hwservice_manager {find};
allow viarild self:socket {read write create getattr setattr lock append map bind connect getopt setopt shutdown};
allow viarild Vcodec_device:chr_file {read write open};
allow viarild devmap_device:chr_file {ioctl read open};
allow viarild devpts:chr_file {read write open};
allow viarild ccci_device:chr_file {ioctl read write open};
allow viarild devpts:chr_file {ioctl};
allow viarild misc_device:chr_file {read write open};
allow viarild proc_lk_env:file {ioctl read open};
allow viarild sysfs_vcorefs_pwrctrl:file {write open};
allow viarild ril_active_md_prop:property_service {set};
allow viarild devpts:chr_file {setattr};
allow viarild device:dir {write};
allow viarild self:capability {chown};
allow viarild self:capability {fowner};
allow viarild device:dir {add_name};
allow viarild device:lnk_file {create};
allow viarild self:capability {setuid};
allow viarild device:dir {remove_name};
allow viarild device:lnk_file {unlink};
allow viarild mal_mfi_socket:sock_file {write};
allow viarild proc_net:file {write};
allow viarild aee_aedv:unix_stream_socket {connectto};
allow viarild vndbinder_device:chr_file {ioctl read write getattr lock append map open};
allow viarild vndservicemanager:binder {call transfer};
allow viarild node:rawip_socket {node_bind};
# (allowx viarild self (ioctl udp_socket (0x890c 0x8914 0x8916 0x8939 ((range 0x89f0 0x89f1)))))
allow viarild sysfs_ccci:dir {search};
allow viarild sysfs_ccci:file {ioctl read getattr lock map open};
