type volte_imcb, domain, netdomain, mtkimsmddomain;
type volte_imcb_socket, file_type;
type volte_imcb_exec, file_type, exec_type, vendor_file_type;
type ctl_volte_imcb_prop, property_type;

init_daemon_domain(volte_imcb);

allow volte_imcb node:tcp_socket {node_bind};
allow volte_imcb port:tcp_socket {name_bind};
allow volte_imcb self:tcp_socket {create bind listen accept setopt};
allow volte_imcb socket_device:sock_file {write};
allow volte_imcb volte_ua:unix_stream_socket {connectto};
allow volte_imcb self:tcp_socket {read getattr};
allow volte_imcb self:tcp_socket {write};
allow volte_imcb self:capability {setgid setuid};
allow volte_imcb volte_ua_socket:sock_file {write};
allow volte_imcb volte_imcb_socket:sock_file {write};
allow volte_imcb init:unix_stream_socket {connectto};
allow volte_imcb property_socket:sock_file {write};
allow volte_imcb volte_prop:property_service {set};
allow volte_imcb netd:unix_stream_socket {connectto};
allow volte_imcb netd_socket:sock_file {write};
