type vtservice_service, service_manager_type;
type vtservice, domain, binderservicedomain, coredomain, halclientdomain, hal_allocator_client, hal_codec2_client, hal_graphics_allocator_client, hal_omx_client, hal_pq_client;
type vtservice_exec, file_type, exec_type, system_file_type;

init_daemon_domain(vtservice);

allow vtservice servicemanager:binder {call transfer};
allow vtservice mediaserver:binder {call transfer};
allow vtservice mediaserver:fd {use};
allow vtservice soc_vt_svc_socket:sock_file {write};
allow vtservice soc_vt_tcv_socket:sock_file {write};
allow vtservice rild_oem_socket:sock_file {write};
allow vtservice platform_app:binder {call};
allow vtservice system_server:binder {call};
allow vtservice sdcard_type:dir {write};
allow vtservice sdcard_type:dir {add_name};
allow vtservice sdcard_type:dir {create};
allow vtservice sdcard_type:file {create};
allow vtservice sdcard_type:file {getattr};
allow vtservice surfaceflinger:fd {use};
allow vtservice tmpfs:lnk_file {read};
allow vtservice radio:binder {call};
allow vtservice vtservice_service:service_manager {add};
allow vtservice sdcard_type:dir {search};
allow vtservice sdcard_type:file {read write open};
allow vtservice radio_service:service_manager {find};
allow vtservice mediaserver_service:service_manager {find};
allow vtservice power_service:service_manager {find};
allow vtservice batterystats_service:service_manager {find};
allow vtservice ccci_device:chr_file {ioctl read write open};
allow vtservice Vcodec_device:chr_file {ioctl read write open};
allow vtservice audioserver_service:service_manager {find};
allow vtservice mnt_user_file:dir {search};
allow vtservice property_socket:sock_file {write};
allow vtservice surfaceflinger:binder {call};
allow vtservice system_data_file:dir {write};
allow vtservice audioserver:binder {call};
allow vtservice init:unix_stream_socket {connectto};
allow vtservice mnt_user_file:lnk_file {read};
allow vtservice system_data_file:dir {add_name};
allow vtservice media_rw_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow vtservice media_rw_data_file:file {write create open};
allow vtservice proc_ged:file {ioctl read getattr lock map open};
# (allowx vtservice proc_ged (ioctl file (((range 0x6700 0x670e)) ((range 0x6764 0x676a)))))
allow vtservice system_data_file:dir {remove_name};
allow vtservice system_data_file:dir {read create open};
allow vtservice system_data_file:sock_file {read write create unlink open};
allow vtservice storage_file:lnk_file {read};
allow vtservice devmap_device:chr_file {read};
allow vtservice devmap_device:chr_file {open};
allow vtservice devmap_device:chr_file {ioctl};
allow vtservice surfaceflinger_service:service_manager {find};
allow vtservice cameraserver_service:service_manager {find};
allow vtservice cameraserver:binder {call};
allow vtservice cameraserver:fd {use};
allow vtservice mediacodec_service:service_manager {find};
allow vtservice mediacodec:binder {call};
allow vtservice qtaguid_device:chr_file {ioctl read getattr lock map open};
allow vtservice priv_app:binder {call};
allow vtservice self:capability {net_admin};
allow vtservice debugfs_ged:dir {search};
allow vtservice debugfs_ged:file {write open};
allow vtservice gpu_device:dir {search};
allow vtservice dri_device:chr_file {ioctl read write getattr open};
allow vtservice gpu_device:chr_file {ioctl read write getattr lock append map open};
allow vtservice hwservicemanager:binder {call};
allow vtservice hwservicemanager_prop:file {read getattr open};
allow vtservice system_file:dir {read};
allow vtservice system_file:dir {open};
allow vtservice mtk_hal_videotelephony_hwservice:hwservice_manager {find};
allow vtservice vtservice_hidl:binder {call transfer};
allow vtservice vtservice_hidl:fd {use};
allow vtservice vtservice_hidl:binder {transfer};
allow vtservice ion_device:chr_file {read open};
allow vtservice mediametrics_service:service_manager {find};
allow vtservice mtk_em_video_log_acodec_prop:file {read};
allow vtservice mtk_em_video_log_sf_postbuffer_prop:file {read getattr map open};
allow vtservice mediametrics:binder {call};
allow vtservice self:udp_socket {read write create getattr setattr lock append map bind connect getopt setopt shutdown};
allow vtservice node:udp_socket {node_bind};
allow vtservice mtk_em_video_log_acodec_prop:file {read getattr map open};
allow vtservice debugfs_ion:dir {search};
allow vtservice fwmarkd_socket:sock_file {write};
allow vtservice hal_graphics_allocator_default:binder {call};
allow vtservice hal_graphics_allocator_default:fd {use};
allow vtservice hal_graphics_mapper_hwservice:hwservice_manager {find};
allow vtservice netd:unix_stream_socket {connectto};
allow vtservice ion_device:chr_file {ioctl};
allow vtservice MTK_SMI_device:chr_file {ioctl read write open};
allow vtservice mtk_em_video_venc_h264_prop:file {read};
allow vtservice mtk_em_video_log_omx_prop:file {read getattr map open};
allow vtservice mtk_em_video_log_vdec_prop:file {read getattr map open};
allow vtservice proc:file {getattr};
allow vtservice mtk_cmdq_device:chr_file {ioctl read open};
allow vtservice mtk_em_video_venc_h264_prop:file {read getattr map open};
allow vtservice merged_hal_service:fd {use};
allow vtservice merged_hal_service:binder {call};
allow vtservice graphics_device:chr_file {ioctl read open};
allow vtservice graphics_device:dir {search};
allow vtservice proc_perfmgr:dir {read search};
allow vtservice proc_perfmgr:file {ioctl read getattr lock map open};
# (allowx vtservice proc_perfmgr (ioctl file (0x6701 0x6703 ((range 0x670f 0x6710)))))
allow vtservice vendor_default_prop:file {read getattr map open};
allow vtservice vendor_vt_prop:file {read getattr map open};
allow vtservice mtk_hal_mms_hwservice:hwservice_manager {find};
allow vtservice cameraserver:dir {search};
allow vtservice cameraserver:file {read getattr open};
allow vtservice debug_bq_dump_prop:file {read};
allow vtservice mtk_hal_mms:binder {call};
allow vtservice proc_uptime:file {read};
allow vtservice port:udp_socket {name_bind};
allow vtservice self:capability {net_raw};
allow vtservice debug_bq_dump_prop:file {open};
