type wfca, domain, netdomain, mtkimsmddomain;
type wfca_socket, file_type;
type wfca_exec, file_type, exec_type, vendor_file_type;

init_daemon_domain(wfca);

allow wfca socket_device:sock_file {write create unlink};
allow wfca socket_device:dir {write add_name remove_name};
allow wfca self:capability {setgid setuid net_admin net_raw};
allow wfca self:udp_socket {ioctl read write create getattr bind setopt shutdown};
allow wfca node:udp_socket {node_bind};
allow wfca port:udp_socket {name_bind};
allow wfca fwmarkd_socket:sock_file {write};
allow wfca ccci_device:chr_file {ioctl read write open};
allow wfca sysfs_wake_lock:file {read write open};
allow wfca self:rawip_socket {read write create getattr bind setopt};
allow wfca node:rawip_socket {node_bind};
allow wfca volte_ua:fd {use};
allow wfca volte_ua:udp_socket {read write getattr getopt setopt shutdown};
allow wfca self:packet_socket {read create setopt};
dontaudit wfca self:capability {dac_override};
allow wfca self:capability2 {block_suspend};
allow wfca wfca_socket:sock_file {write};
