type ccci_mdinit;

allow ccci_mdinit default_prop:file {read open getattr map};
allow ccci_mdinit sysfs_dt_firmware_android:file {read open getattr};
# Not allowed due to 'neverallow' rule, but there are 'avc:denied' during boot
# allow ccci_mdinit gsi_metadata_file:dir {search};
