type fuelgauged_nvram;

allow fuelgauged_nvram sysfs_dt_firmware_android:dir {search};
allow fuelgauged_nvram sysfs_dt_firmware_android:file {read open getattr};
allow fuelgauged_nvram metadata_file:dir {search};
# Not allowed due to 'neverallow' rule, but there are 'avc:denied' during boot
# allow fuelgauged_nvram gsi_metadata_file:dir {search};
