type fuelgauged_nvram, domain;

allow fuelgauged_nvram sysfs_dt_firmware_android:dir {search};
allow fuelgauged_nvram sysfs_dt_firmware_android:file {read open getattr};
allow fuelgauged_nvram metadata_file:dir {search};
allow fuelgauged_nvram gsi_metadata_file:dir {search};
