type mtk_hal_audio, domain;

allow mtk_hal_audio sysfs_dt_firmware_android:file {read open getattr};
allow mtk_hal_audio metadata_file:dir {search};
allow mtk_hal_audio gsi_metadata_file:dir {search};
