type mtk_dmc_prop, property_type;
type mtk_cta_set_prop, property_type, extended_core_property_type;
type mtk_fm_radio_service, system_server_service, app_api_service, service_manager_type;
type mtk_radio_service, service_manager_type;
type mtk_rsc_sys_prop, property_type, extended_core_property_type;
