type nvram_daemon, domain;

allow nvram_daemon default_prop:file {read};
allow nvram_daemon proc_cmdline:file {read};
allow nvram_daemon metadata_file:dir {search};
