type nvram_daemon, domain;

allow nvram_daemon default_prop:file {read open getattr map};
allow nvram_daemon proc_cmdline:file {read open getattr};
allow nvram_daemon metadata_file:dir {search};
allow nvram_daemon sysfs_dt_firmware_android:dir {search};
allow nvram_daemon sysfs_dt_firmware_android:file {read open getattr};
allow nvram_daemon gsi_metadata_file:dir {search};
