type stflashtool;

allow stflashtool nfc_prop:file {read open getattr map};
allow stflashtool nfc_data_file:dir {search};
allow stflashtool nfc_data_file:file {read open};
