type tkcore_systa_file;

allow system_server tkcore_systa_file:dir {getattr read open};
# Not allowed due to 'neverallow' rule, but there are 'avc:denied' during boot
# allow system_server sysfs:file {read open getattr map};
