on init
    setprop sys.usb.ffs.aio_compat 1

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6771 /vendor/etc/fstab.mt6771 bind

on post-fs
    mount none /system/etc/fstab.mt6771 /vendor/etc/fstab.mt6771 bind
    
on post-fs-data
    # /cache has to be mounted late
    mount_all /system/etc/fstab.mt6771 --late    
